<div class="background light"></div>
<div class="container-fluid" id="adminActivite" ng-controller="ActiviteAdmin">
    <div class="row-fluid">
        <div class="span12">
            <div class="row-fluid">
                <div class="span12">
                    <fieldset id="adminActiviteChoix">
                        <legend>Choix du mois à visualiser</legend>
                        <div style="width:30%; float:left">
                            <label>Année</label>
                            <select id="inputAnnee" name="inputAnnee" ng-model="selection.annee" ng-options="annee for annee in lstAnnees"></select>
                        </div>
                            <div style="width:30%; float:left">
                            <label>Mois</label>
                            <select id="inputMois" name="inputMois" ng-model="selection.mois" ng-options="mois for mois in lstMois"></select>
                                </div>
                      </fieldset>
                </div>
            </div><!--<div class="row-fluid">-->
            <div class="row-fluid">
                <div class="span12" ng-controller="ActiviteAdminGrid">
                    <!--Grilles des congés-->
                    <tabs>
                        <pane heading="Liste des activités">
                              <grid id="activiteAdminGrid" ng-options="gridOptions"></grid>
                        </pane>
                        <pane heading="Utilisateurs sans activité">
                              <grid id="sansSctiviteAdminGrid" ng-options="gridOptionsSans"></grid>
                        </pane>
                    </tabs>
                </div>
            </div><!--<div class="row-fluid">-->
        </div>
        <!--<div class="span6">-->
        <div class="span0">
            <!--Body content-->
            <div class="row">
                <div class="span12">
                    <script type="text/x-handlebars-template" id="showActiviteTmpl">
                        <div class="modal-header">
                        <h1>Activité de {{user.prenom}}</h1>
                        </div>
                        <div class="modal-body" id="popupCalConges">
                        <p> 
                        </p>
                        <div ui-if="eventSources" id="activiteCalendar" calendar="activiteCalendar" ui-calendar="uiConfig.calendar" config="uiConfig.calendar" ng-model="eventSources" >
                        </div>
                        <div class="modal-footer">
                            <div class="alert alert-block alert-error" ng-class="{masquer: !error}"><span>{{error}}</span></div>
                            <button class="btn btn-success" type="button" ng-click="save(eventSources[0])"><i class="icon_upload"></i>Enregistrer l'activité</button>
                            <button ng-click="close()" class="btn" >Annuler</button>
                        </div>
                    </script>
                </div><!-- <div class="span12">-->
            </div><!-- <div class="row">-->
        </div>
        <!--<div class="row-fluid">-->
    </div>
</div>
<!--</div class="container-fluid">-->



<!--Template de la colonne d'action de la grille-->
<script type="text/x-handlebars-template" id="headerTmpl">
    <div class="ngHeaderSortColumn {{col.headerClass}}" ng-style="{cursor: col.cursor}" ng-class="{ ngSorted: !noSortVisible }">
        <div ng-click="col.sort($event)" ng-class="'colt' + col.index" class="ngHeaderText" data-toggle="tooltip" title="{{col.displayName}}">{{col.displayName}}</div>
        <div class="ngSortButtonDown" ng-show="col.showSortButtonDown()"></div>
        <div class="ngSortButtonUp" ng-show="col.showSortButtonUp()"></div>
        <div class="ngSortPriority">{{col.sortPriority}}</div>
    </div>
    <div ng-show="col.resizable" class="ngHeaderGrip" ng-click="col.gripClick($event)" ng-mousedown="col.gripOnMouseDown($event)"></div>
</script>

<script type="text/x-handlebars-template" id="moisTmpl">
    <div class="ngCellText moisCell">{{row.mois | moment:'MMMM YYYY'}}</div>
</script>
<script type="text/x-handlebars-template" id="matriculeTmpl">
    <div class="ngCellText matriculeCell" data-toggle="tooltip" title="{{row.user.nom}} {{row.user.prenom}}">{{row.user.nom}} {{row.user.prenom}}</div>
</script>

<script type="text/x-handlebars-template" id="justificationTmpl">
    <div class="cellJustification" data-toggle="tooltip" title="{{row.justification}}">{{row.justification}}</div>
</script>
<script type="text/x-handlebars-template" id="validationTmpl">
    <a href="#" title="Valider le CRA" ng-show="row.etat == 1" ng-click="valider(row)"><i class="icon-ok"></i></a>
</script>
<script type="text/x-handlebars-template" id="actionRowTmplEdit">
    <a href="#" title="Visualiser" ng-show="isEditable(row)" ng-click="visualiser(row)"><i class="icon-eye-open"></i></a>
</script>
<script type="text/x-handlebars-template" id="actionRowTmplCreate">
    <a href="#" title="Créer le CRA" ng-click="create(row)"><i class="icon-pencil"></i></a>
</script>
<script type="text/x-handlebars-template" id="actionRowTmplDel">
    <a href="#" title="Supprimer" ng-show="isEditable(row)" ng-click="delete(row)"><i class="icon-trash"></i></a>
</script>

<script type="text/x-handlebars-template" id="eventTmpl">
  <div class="fc-event fc-event-hori fc-event-start fc-event-end jour {{data.type}} {{cssConges[data.etat]}}" ng-class="{true : 'sleeping', false : 'worked'}[data.type != 'JT' && data.type != 'FOR' && data.type != 'INT']"  rel="popover" data-original-title="" title="">
       <div class="fc-event-inner">
           <span class="fc-event-title">{{data.type | motifCongesShort : typeActivite}} {{infos(data)}}</span>
       </div>
  </div>
</script>
<script type="text/x-handlebars-template" id="popoverEventTmpl">
  <h3 class="popover-title">Détails de la journée</h3>
  <accordion close-others="true">
    <accordion-group heading="Activité effectuée" is-open="true">
      <p>Choisisez l'activté effectuée cette journée :</p>
      <select id="inputType" name="inputType" required ng-model="data.type" ng-options="motif.id as motif.libelle for motif in typeActiviteJour | orderBy:-ordre">
      </select>
        <p>Durée :</p>
       <select id="inputDuree" name="inputDuree" required ng-model="data.duree">
           <option value="0">Toute la journée</option>
           <option ng-hide="data.duree == 2" value="1">Matinée</option>
           <option ng-hide="data.duree == 1" value="2">Après-midi</option>
      </select>
    </accordion-group>
    <accordion-group heading="Heures supl./nuit" ng-if="data.type == 'JT'">
      <p>Nombre d'heures suplémentaires</p>
      <input id="inputHeuresSup" type="number" name="inputHeuresSup" class="span3" min="0" max="8" ng-model="data.heuresSup"></input>
      <p ng-if="hasHeuresAstreinte(data);">Nombre d'heures d'astreinte</p>
      <input ng-if="hasHeuresAstreinte(data);" id="inputheuresAstreinte" type="number" name="inputheuresAstreinte" class="span3" min="0" max="8" ng-model="data.heuresAstreinte"></input>
      <p>Nombre de nuit (entre 22h et 6h)</p>
      <input id="inputHeuresNuit" type="number" name="inputHeuresNuit" class="span3" min="0" max="8" ng-model="data.heuresNuit"></input>
    </accordion-group>
    <accordion-group heading="Informations complémentaires" ng-if="data.type == 'JT' || data.type == 'FOR' || data.type == 'INT'">
      <p>Remarques...</p>
        <textarea id="inputInfos" name="inputInfos" ng-model="data.information"></textarea>
    </accordion-group>
  </accordion>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="valid(currentEvent);" >Valider</button>
    <button class="btn" ng-click="cancel();">Annuler</button>
  </div>
</script>