<div class="background light"></div>
<div class="container-fluid" id="adminConges" ng-controller="CongesAdmin">
    <div class="row-fluid">
        <div class="span12">
            <!--Sidebar content-->
            <div class="row-fluid">
                <div class="span12">
                    
                    <button ng-if="!showConfHisto" class="btn btn-action-histo" type="button" ng-click="toggleConfHisto();"><i class="icon-zoom-in"></i> Historique d'un utilisateur</button>
                    <button ng-if="showConfHisto" class="btn btn-action-histo" type="button" ng-click="toggleConfHisto();"><i class="icon-arrow-left"></i> Retour</button>
                    <button authenticate="4" type="button" class="btn btn-primary  btn-action-histo" ng-if="edition == 0" ng-click="create();"><i class="icon-plus icon-white"></i> Créer une absence</button>

                    <div ng-if="showConfHisto" ng-controller="CongesAdminHisto">
                        <div class="alert alert-block alert-info">
                            <h4>Historique des absences d'un utilisateur</h4>
                        </div>
                        <form name="histo" class="form-horizontal well" ui-keypress="{'enter':'getHisto(optionsHisto)'}" novalidate>
                            <div class="row-fluid">
                                <div class="span12 separator">
                                </div>
                            </div>
                            <!--Saisie utilisateur-->
                            <div class="control-group" ng-class="{error: histo.inputMatricule.$dirty && histo.inputMatricule.$invalid, success:histo.inputMatricule.$dirty && !histo.inputMatricule.$invalid}">
                                <label class="control-label" for="inputRole">Utilisateur</label>
                                <div class="controls inline">
                                    <input type="text" ng-model="optionsHisto.user" ng-required="true" id="inputMatriculeHisto" name="inputMatriculeHisto" ui-select2="selectUserOptions" placeholder="">
                                    <div class="input-help">
                                        <h4>Vous devez renseigner un utilisateur.</h4>
                                    </div>
                                </div>
                            </div>
                            <!--Saisie password-->
                            <div class="control-group" ng-class="{error: histo.inputMotif.$dirty && histo.inputMotif.$invalid, success:histo.inputMotif.$dirty && !histo.inputMotif.$invalid}">
                                <label class="control-label" for="inputRole">Période de recherche</label>
                                <div class="controls inline">
                                    <select id="inputMotifHisto" name="inputMotifHisto" required ng-model="optionsHisto.quantity">
                                        <option selected="selected" value="6">6 derniers mois</option>
                                        <option value="12">12 derniers mois</option>
                                        <option value="-1">Tous</option>
                                    </select>
                                </div>
                            </div>
                            <!--Zone d'action du formulaire-->
                            <div class="controls">
                                <button type="button" ng-disabled="histo.$invalid || saving" ng-click="getHisto(optionsHisto);" class="btn btn-primary"><i class="icon-zoom-in icon-white"></i> Rechercher</button>
                            </div>
                        </form>
                        <div loading-container="loading" ng-if="congesHisto && congesHisto.length">
                            <table id="congesAdminGridVal" ng-table="tableParamsHisto" show-filter="false" class="table table-bordered table-hover">
                                <tr ng-repeat="conge in congesHisto">
                                    <td style="width:22px;" sortable="etat">
                                        <span class="etatConges {{cssConges[conge.etat]}}" title="{{conge.etat|etatConges}}">&nbsp;</span>
                                    </td>
                                    <td data-title="'Utilisateur'" sortable="user.nom">
                                        <div class="ngCellText matriculeCell" data-toggle="tooltip" title="{{conge.user.nom}} {{conge.user.prenom}}">{{conge.user.nom}} {{conge.user.prenom}}</div>
                                    </td>
                                    <td data-title="'Date de début'" sortable="debut.date">
                                        {{conge.debut|momentCongesDebut:'DD/MM/YYYY'}}
                                    </td>
                                    <td data-title="'Date de fin'" sortable="fin.date">
                                        {{conge.fin|momentCongesFin:'DD/MM/YYYY'}}
                                    </td>
                                    <td style="max-width: 35px;width:35px;" data-title="'Durée'" sortable="duree">
                                        {{conge.duree}}
                                    </td>
                                    <td data-title="'Motif'" sortable="motif">
                                        {{conge.motif|motifCongesShort}}
                                    </td>
                                    <td data-title="'Statut'" sortable="etat">
                                        {{conge.etat|etatConges}}
                                    </td>
                                    <td data-title="'Justification'">
                                        <div class="cellJustification" data-toggle="tooltip" title="{{conge.justification}}">{{conge.justification}}</div>
                                    </td>
                                    <td data-title="'Admin'" sortable="admin.nom">
                                        <div class="ngCellText matriculeCell" data-toggle="tooltip" title="{{conge.admin.nom}} {{conge.admin.prenom}}">{{conge.admin.nom}} {{conge.admin.prenom}}</div>
                                    </td>
                                    <td data-title="'Validation'" class="validation">
                                        <div class="btn-group val">
                                            <a class="btn btn-success" href="" title="Accepter la demande" ng-if="conge.etat == 1" ng-click="accepter(conge)"><i class="icon-ok"></i></a>
                                            <a class="btn btn-danger" href="" title="Refuser la demande" ng-if="conge.etat != 3" ng-click="refuser(conge)"><i class="icon-ban-circle"></i></a>
                                        </div>
                                    </td>
                                    <td style="width:15px;">
                                        <a href="" title="Modifier" authenticate="4" ng-show="isEditable(conge)" ng-click="edit(conge)"><i class="icon-pencil"></i></a>
                                    </td>
                                    <td style="width:15px;">
                                        <a href="" title="Supprimer" authenticate="4" ng-show="isEditable(conge)" ng-click="delete(conge)"><i class="icon-trash"></i></a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="alert alert-info empty" ng-if="congesHisto && congesHisto.length == 0">
                                <p>Pas d'absence trouvée</p>
                        </div>
                    </div>
                    <!--Grilles des congés-->
                    <div class="bs-docs-example" ng-hide="showConfHisto" ng-controller="CongesAdminGrid">
                        <tabset>
                            <tab heading="Absences en attente de validation">
                                <div loading-container="loading">
                                    <table id="congesAdminGrid" ng-table="tableParamsCongesAValider" show-filter="false" class="table table-bordered table-hover">
                                        <tr ng-repeat="conge in congesAvalider">
                                            <td data-title="'Utilisateur'" sortable="user.nom">
                                                <div class="ngCellText matriculeCell" data-toggle="tooltip" title="{{conge.user.nom}} {{conge.user.prenom}}">{{conge.user.nom}} {{conge.user.prenom}}</div>
                                            </td>
                                            <td data-title="'Date de début'" sortable="debut.date">
                                                {{conge.debut|momentCongesDebut:'DD/MM/YYYY'}}
                                            </td>
                                            <td data-title="'Date de fin'" sortable="fin.date">
                                                {{conge.fin|momentCongesFin:'DD/MM/YYYY'}}
                                            </td>
                                            <td style="max-width: 35px;width:35px;" data-title="'Durée'" sortable="duree">
                                                {{conge.duree}}
                                            </td>
                                            <td data-title="'Motif'" sortable="motif">
                                                {{conge.motif|motifCongesShort}}
                                            </td>
                                            <td data-title="'Justification'">
                                                <div class="cellJustification" data-toggle="tooltip" title="{{conge.justification}}">{{conge.justification}}</div>
                                            </td>
                                            <td data-title="'Admin'" sortable="admin.nom">
                                                <div class="ngCellText matriculeCell" data-toggle="tooltip" title="{{conge.admin.nom}} {{conge.admin.prenom}}">{{conge.admin.nom}} {{conge.admin.prenom}}</div>
                                            </td>
                                            <td style="max-width: 35px;width:35px;" data-title="'CP disponibles'" sortable="CP">
                                                {{conge.CP | toFixed:2}}
                                            </td>
                                            <td style="max-width: 35px;width:35px;" data-title="'CP en cours'" sortable="CP_ANT">
                                                {{conge.CP_ANT | toFixed:2}}
                                            </td>
                                            <td style="max-width: 35px;width:35px;" data-title="'RTT'" sortable="RTT">
                                                {{conge.RTT | toFixed:2}}
                                            </td>
                                            <td data-title="'Validation'" class="validation">
                                                <div class="btn-group val">
                                                    <a class="btn btn-success" href="" title="Accepter la demande" ng-if="conge.etat == 1" ng-click="accepter(conge)"><i class="icon-ok"></i></a>
                                                    <a class="btn btn-danger" href="" title="Refuser la demande" ng-if="conge.etat != 3" ng-click="refuser(conge)"><i class="icon-ban-circle"></i></a>
                                                </div>
                                            </td>
                                            <td style="width:15px;">
                                                <a href="" title="Modifier" authenticate="4" ng-show="isEditable(conge)" ng-click="edit(conge)"><i class="icon-pencil"></i></a>
                                            </td>
                                            <td style="width:15px;">
                                                <a href="" title="Supprimer" authenticate="4" ng-show="isEditable(conge)" ng-click="delete(conge)"><i class="icon-trash"></i></a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </tab>
                            <tab heading="Absences validées">
                                <div loading-container="loading">
                                    <table id="congesAdminGridVal" ng-table="tableParamsValider" show-filter="false" class="table table-bordered table-hover">
                                        <tr ng-repeat="conge in congesValider">
                                            <td data-title="'Utilisateur'" sortable="user.nom">
                                                <div class="ngCellText matriculeCell" data-toggle="tooltip" title="{{conge.user.nom}} {{conge.user.prenom}}">{{conge.user.nom}} {{conge.user.prenom}}</div>
                                            </td>
                                            <td data-title="'Date de début'" sortable="debut.date">
                                                {{conge.debut|momentCongesDebut:'DD/MM/YYYY'}}
                                            </td>
                                            <td data-title="'Date de fin'" sortable="fin.date">
                                                {{conge.fin|momentCongesFin:'DD/MM/YYYY'}}
                                            </td>
                                            <td style="max-width: 35px;width:35px;" data-title="'Durée'" sortable="duree">
                                                {{conge.duree}}
                                            </td>
                                            <td data-title="'Motif'" sortable="motif">
                                                {{conge.motif|motifCongesShort}}
                                            </td>
                                            <td data-title="'Justification'">
                                                <div class="cellJustification" data-toggle="tooltip" title="{{conge.justification}}">{{conge.justification}}</div>
                                            </td>
                                            <td data-title="'Admin'" sortable="admin.nom">
                                                <div class="ngCellText matriculeCell" data-toggle="tooltip" title="{{conge.admin.nom}} {{conge.admin.prenom}}">{{conge.admin.nom}} {{conge.admin.prenom}}</div>
                                            </td>
                                            <td data-title="'Validation'" class="validation">
                                                <div class="btn-group val">
                                                    <a class="btn btn-success" href="" title="Accepter la demande" ng-if="conge.etat == 1" ng-click="accepter(conge)"><i class="icon-ok"></i></a>
                                                    <a class="btn btn-danger" href="" title="Refuser la demande" ng-if="conge.etat != 3" ng-click="refuser(conge)"><i class="icon-ban-circle"></i></a>
                                                </div>
                                            </td>
                                            <td style="width:15px;">
                                                <a href="" title="Modifier" authenticate="4" ng-show="isEditable(conge)" ng-click="edit(conge)"><i class="icon-pencil"></i></a>
                                            </td>
                                            <td style="width:15px;">
                                                <a href="" title="Supprimer" authenticate="4" ng-show="isEditable(conge)" ng-click="delete(conge)"><i class="icon-trash"></i></a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </tab>
                            <tab heading="Absences refusées">
                                <div loading-container="loading">
                                    <table id="congesAdminGridRef" ng-table="tableParamsRefuser" show-filter="false" class="table table-bordered table-hover">
                                        <tr ng-repeat="conge in congesRefuser">
                                            <td data-title="'Utilisateur'" sortable="user.nom">
                                                <div class="ngCellText matriculeCell" data-toggle="tooltip" title="{{conge.user.nom}} {{conge.user.prenom}}">{{conge.user.nom}} {{conge.user.prenom}}</div>
                                            </td>
                                            <td data-title="'Date de début'" sortable="debut.date">
                                                {{conge.debut|momentCongesDebut:'DD/MM/YYYY'}}
                                            </td>
                                            <td data-title="'Date de fin'" sortable="fin.date">
                                                {{conge.fin|momentCongesFin:'DD/MM/YYYY'}}
                                            </td>
                                            <td style="max-width: 35px;width:35px;" data-title="'Durée'" sortable="duree">
                                                {{conge.duree}}
                                            </td>
                                            <td data-title="'Motif'" sortable="motif">
                                                {{conge.motif|motifCongesShort}}
                                            </td>
                                            <td data-title="'Justification'">
                                                <div class="cellJustification" data-toggle="tooltip" title="{{conge.justification}}">{{conge.justification}}</div>
                                            </td>
                                            <td data-title="'Admin'" sortable="admin.nom">
                                                <div class="ngCellText matriculeCell" data-toggle="tooltip" title="{{conge.admin.nom}} {{conge.admin.prenom}}">{{conge.admin.nom}} {{conge.admin.prenom}}</div>
                                            </td>
                                            <td data-title="'Validation'" class="validation">
                                                <div class="btn-group val">
                                                    <a class="btn btn-success" href="" title="Accepter la demande" ng-if="conge.etat == 1" ng-click="accepter(conge)"><i class="icon-ok"></i></a>
                                                    <a class="btn btn-danger" href="" title="Refuser la demande" ng-if="conge.etat != 3" ng-click="refuser(conge)"><i class="icon-ban-circle"></i></a>
                                                </div>
                                            </td>
                                            <td style="width:15px;"></td>
                                            <td style="width:15px;">
                                                <a href="" title="Supprimer" authenticate="4" ng-show="isEditable(conge)" ng-click="delete(conge)"><i class="icon-trash"></i></a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </tab>
                        </tabset>
                    </div>

                </div>
            </div>
            <!--<div class="row-fluid">-->
        </div>
        <!--<div class="span6">-->
    </div>
</div>
<!--</div class="container-fluid">-->

<!--Template de la colonne d'action de la grille-->
<script type="text/x-handlebars-template" id="headerTmpl">
    <div class="ngHeaderSortColumn {{col.headerClass}}" ng-style="{cursor: col.cursor}" ng-class="{ ngSorted: !noSortVisible }">
        <div ng-click="col.sort($event)" ng-class="'colt' + col.index" class="ngHeaderText" data-toggle="tooltip" title="{{col.displayName}}">{{col.displayName}}</div>
        <div class="ngSortButtonDown" ng-show="col.showSortButtonDown()"></div>
        <div class="ngSortButtonUp" ng-show="col.showSortButtonUp()"></div>
        <div class="ngSortPriority">{{col.sortPriority}}</div>
    </div>
    <div ng-show="col.resizable" class="ngHeaderGrip" ng-click="col.gripClick($event)" ng-mousedown="col.gripOnMouseDown($event)"></div>
</script>
<script type="text/x-handlebars-template" id="matriculeTmpl">
    <div class="ngCellText matriculeCell" data-toggle="tooltip" title="{{row.user.nom}} {{row.user.prenom}}">{{row.user.nom}} {{row.user.prenom}}</div>
</script>

<script type="text/x-handlebars-template" id="justificationTmpl">
    <div class="cellJustification" data-toggle="tooltip" title="{{row.justification}}">{{row.justification}}</div>
</script>
<script type="text/x-handlebars-template" id="validationTmpl">
  <div class="btn-group val">
    <a class="btn btn-success" href="" title="Accepter la demande" ng-if="row.etat == 1" ng-click="accepter(row)"><i class="icon-ok"></i></a>
    <a class="btn btn-danger" href="" title="Refuser la demande" ng-if="row.etat != 3" ng-click="refuser(row)"><i class="icon-ban-circle"></i></a>
  </div>
</script>
<script type="text/x-handlebars-template" id="actionRowTmplEdit">
    <a href="" title="Modifier" authenticate="4" ng-show="isEditable(row)" ng-click="edit(row)"><i class="icon-pencil"></i></a>
</script>
<script type="text/x-handlebars-template" id="actionRowTmplDel">
    <a href="" title="Supprimer" authenticate="4" ng-show="isEditable(row)" ng-click="delete(row)"><i class="icon-trash"></i></a>
</script>

<script type="text/x-handlebars-template" id="refusTmpl">
    <div class="modal-header">
        <h1>Refus d'une absence</h1>
    </div>
    <div class="modal-body" id="refus">
    <p>Etes-vous sûr de vouloir refuser la demande d'absence ?
    </p>
    <!--<form id="refusConges" name="refusConges" class="form-horizontal" ui-keypress="{'enter':'close('yes')'}" novalidate>-->
    <form id="refusConges" name="refusConges" class="form-horizontal" novalidate>
        <!-- Saisie du motif de refus -->
        <textarea type="text" id="motifRefus" name="motifRefus" ng-model="dialogModel.refus" class="span7" rows="5" placeholder="Motif du refus"></textarea>
    </form>
    </div>
    <div class="modal-footer">
        <button ng-click="close('yes')" class="btn btn-primary" >Oui</button>
        <button ng-click="close('no')" class="btn" >Non</button>
    </div>
</script>

<script type="text/x-handlebars-template" id="congesAdmin">
    <div ng-show="!aide">
        <!--Body content-->
        <div class="modal-header">
            <h1>{{lblMode}}</h1>
        </div>
        <!-- <div class="row">-->
        <% include ../forms/conges.html %>
    </div>
    <div ng-show="aide">
        <% include ../../public/templates/aide-conges.html %>
    </div>
</script>