<div class="background light"></div>
<div class="container-fluid" id="adminConges" ng-controller="CongesAdmin">
    <div class="row-fluid">
        <div class="span8" ng-controller="CongesAdminGrid">
            <!--Sidebar content-->
            <div class="row-fluid">
                <div class="span12">
                    <!--Grilles des congés-->
                    <div class="bs-docs-example">
                        <tabs>
                            <pane heading="Congés en attente de validation">
                                 <grid id="congesAdminGrid" ng-options="gridOptionsConges"></grid>
                                 <!--<div id="congesAdminGrid" class="gridStyle" ng-grid="gridOptionsConges"></div>-->
                            </pane>
                            <pane heading="Congés validés">
                                 <grid id="congesAdminGridVal" ng-options="gridOptionsCongesVal"></grid>
                                 <!--<div id="congesAdminGridVal" class="gridStyle" ng-grid="gridOptionsCongesVal"></div>-->
                            </pane>
                            <pane heading="Congés refusés">
                                 <grid id="congesAdminGridRef" ng-options="gridOptionsCongesRef"></grid>
                                 <!--<div id="congesAdminGridRef" class="gridStyle" ng-grid="gridOptionsCongesRef"></div>-->
                            </pane>
                        </tabs>
                    </div>

                </div>
            </div>
            <!--<div class="row-fluid">-->
        </div>
        <!--<div class="span6">-->
        <div class="span4">
            <!--Body content-->
            <div class="row">
                <div class="span12">
                    <button type="button" class="btn btn-primary" ng-class="{masquer: edition > 0}" ng-click="create();"><i class="icon-plus icon-white"></i> Créer un congé de régulation</button>
                    <div class="alert alert-block alert-info" ng-class="{masquer: edition != 1}">
                        <h4>{{lblMode}}</h4>
                    </div>
                    <div class="alert alert-block alert-warning" ng-class="{masquer: edition != 2}">
                        <h4>{{lblMode}}</h4>
                    </div>
                </div>
                <!-- <div class="span12">-->
            </div>
            <!-- <div class="row">-->
            <!--Row edit-->
            <div class="row">
                <div class="span12">
                    <!--Formulaire modification utilisateurs-->
                    <% include ../forms/conges.html %>
        
                </div>
                <!--<div class="span12">-->
            </div>
            <!--<div class="span9">-->
        </div>
        <!--<div class="row-fluid">-->
    </div>
</div>
<!--</div class="container-fluid">-->

<!--Template de la colonne d'action de la grille-->
<script type="text/x-handlebars-template" id="headerTmpl">
    <div class="ngHeaderSortColumn {{col.headerClass}}" ng-style="{cursor: col.cursor}" ng-class="{ ngSorted: !noSortVisible }">
        <div ng-click="col.sort($event)" ng-class="'colt' + col.index" class="ngHeaderText" data-toggle="tooltip" title="{{col.displayName}}">{{col.displayName}}</div>
        <div class="ngSortButtonDown" ng-show="col.showSortButtonDown()"></div>
        <div class="ngSortButtonUp" ng-show="col.showSortButtonUp()"></div>
        <div class="ngSortPriority">{{col.sortPriority}}</div>
    </div>
    <div ng-show="col.resizable" class="ngHeaderGrip" ng-click="col.gripClick($event)" ng-mousedown="col.gripOnMouseDown($event)"></div>
</script>
<script type="text/x-handlebars-template" id="matriculeTmpl">
    <div class="ngCellText matriculeCell" data-toggle="tooltip" title="{{row.user.nom}} {{row.user.prenom}}">{{row.user.nom}} {{row.user.prenom}}</div>
</script>

<script type="text/x-handlebars-template" id="justificationTmpl">
    <div class="cellJustification" data-toggle="tooltip" title="{{row.justification}}">{{row.justification}}</div>
</script>
<script type="text/x-handlebars-template" id="validationTmpl">
  <div class="btn-group val">
    <a class="btn btn-success" href="" title="Accepter la demande" ng-if="row.etat == 1" ng-click="accepter(row)"><i class="icon-ok"></i></a>
    <a class="btn btn-danger" href="" title="Refuser la demande" ng-if="row.etat != 3" ng-click="refuser(row)"><i class="icon-ban-circle"></i></a>
  </div>
</script>
<script type="text/x-handlebars-template" id="actionRowTmplEdit">
    <a href="" title="Modifier" ng-show="isEditable(row)" ng-click="edit(row)"><i class="icon-pencil"></i></a>
</script>
<script type="text/x-handlebars-template" id="actionRowTmplDel">
    <a href="" title="Supprimer" ng-show="isEditable(row)" ng-click="delete(row)"><i class="icon-trash"></i></a>
</script>

<script type="text/x-handlebars-template" id="refusTmpl">
    <div class="modal-header">
        <h1>Refus d'un congé</h1>
    </div>
    <div class="modal-body" id="refus">
    <p>Etes-vous sûr de vouloir refuser la demande de congés ?
    </p>
    <form id="refusConges" name="refusConges" class="form-horizontal" ui-keypress="{'enter':'close('yes')'}" novalidate>
        <!-- Saisie du motif de refus -->
        <textarea type="text" id="motifRefus" name="motifRefus" ng-model="dialogModel.refus" class="span7" rows="5" placeholder="Motif du refus"></textarea>
    </form>
    </div>
    <div class="modal-footer">
        <button ng-click="close('yes')" class="btn btn-primary" >Oui</button>
        <button ng-click="close('no')" class="btn" >Non</button>
    </div>
</script>