<div class="background light"></div>
<div class="container-fluid" id="adminActivite" ng-controller="ActiviteAdmin">
    <div class="row-fluid">
        <div class="span12">
            <div class="row-fluid">
                <div class="well">
                    <fieldset id="adminActiviteChoix">
                        <!--<legend>Rapports d’activité</legend>-->
                        <div style="float:left">
                            <label for="inputAnnee">Année</label>
                            <select id="inputAnnee" name="inputAnnee" ng-model="selection.annee" ng-options="annee for annee in lstAnnees"></select>
                        </div>
                        <div style="float:left">
                            <label for="inputMois">Mois</label>
                            <select id="inputMois" name="inputMois" ng-model="selection.mois" ng-options="mois for mois in lstMois"></select>
                         </div>
                      </fieldset>
                </div>
            </div><!--<div class="row-fluid">-->
            <div class="row-fluid">
                <div class="span12">
                    <!--Grilles des congés-->
                    <tabset>
                        <tab heading="Liste des activités">
                            <div loading-container="loading"> 
                                    <table id="activiteAdminGrid" ng-table="tableParamsActivite" show-filter="false" class="table table-bordered table-hover"> 
                                        <tr ng-repeat="activite in activites"> 
                                            <td sortable="etat"> 
                                                <span class="etatConges {{cssConges[activite.etat]}}">&nbsp;</span>
                                            </td> 
                                            <td data-title="'Mois'" sortable="mois"> 
                                                <div class="moisCell">{{activite.mois | moment:'MMMM'}}</div>
                                            </td> 
                                            <td data-title="'Utilisateur'" sortable="user.id"> 
                                                <div class="matriculeCell" data-toggle="tooltip" title="{{activite.user.nom}} {{activite.user.prenom}}">{{activite.user.nom}} {{activite.user.prenom}}</div>
                                            </td>
                                            <td class="travail" data-title="'M1'" sortable="JT1"> 
                                            {{activite.JT1}} 
                                            </td>
                                            <td class="travail" data-title="'M2'" sortable="JT2"> 
                                            {{activite.JT2}} 
                                            </td>
                                            <td class="travail" data-title="'M3'" sortable="JT3"> 
                                            {{activite.JT3}} 
                                            </td>
                                            <td class="travail" data-title="'FOR'" sortable="FOR"> 
                                            {{activite.FOR}} 
                                            </td>
                                            <td class="travail" data-title="'INT'" sortable="INT"> 
                                            {{activite.INT}} 
                                            </td>
                                            <td class="conges" data-title="'CP'" sortable="CP"> 
                                            {{activite.CP}} 
                                            </td>
                                            <td class="conges" data-title="'CP ant'" sortable="CP_ANT"> 
                                            {{activite.CP_ANT}} 
                                            </td>
                                            <td class="conges" data-title="'RTT'" sortable="RTT"> 
                                            {{activite.RTT}} 
                                            </td>
                                            <td class="conges" data-title="'Autre'" data-tooltip-append-to-body="true" data-tooltip-placement="bottom" data-tooltip-html-unsafe="{{activite | detailsAutreActivite}}" > 
                                            {{activite.AU + activite.CS + activite.DC + activite.DEM + activite.ENF + activite.MA + activite.MAR + activite.MAT + activite.NAI + activite.PAT}} 
                                            </td>
                                            <td class="heures" data-title="'HS'" sortable="heuresSup" data-tooltip-append-to-body="true" data-tooltip-placement="bottom" data-tooltip-html-unsafe="{{activite.heuresSup.details | detailsHeures}}"> 
                                            {{activite.heuresSup.total}} 
                                            </td>
                                            <td class="heures" data-title="'HN'" sortable="heuresNuit" data-tooltip-append-to-body="true" data-tooltip-placement="bottom" data-tooltip-html-unsafe="{{activite.heuresNuit.details | detailsHeures}}"> 
                                            {{activite.heuresNuit.total}} 
                                             </td>
                                            <td class="heures" data-title="'HA'" sortable="heuresAstreinte" data-tooltip-append-to-body="true" data-tooltip-placement="bottom" data-tooltip-html-unsafe="{{activite.heuresAstreinte.details | detailsHeures}}"> 
                                            {{activite.heuresAstreinte.total}} 
                                            </td>
                                            <td class="heures" data-title="'HI'" sortable="heuresInt" data-tooltip-append-to-body="true" data-tooltip-placement="bottom" data-tooltip-html-unsafe="{{activite.heuresInt.details | detailsHeures}}"> 
                                            {{activite.heuresInt.total}} 
                                            </td>
                                            <td sortable="etat" style="width:15px;"> 
                                                <a href="" title="Valider le CRA" ng-show="activite.etat == 1" ng-click="valider(activite)"><i class="icon-ok"></i></a>
                                            </td>
                                            <td style="width:15px;"> 
                                                <a href="" title="Visualiser" ng-show="isEditable(activite)" ng-click="visualiser(activite)"><i class="icon-eye-open"></i></a>
                                            </td>
                                            <td style="width:15px;"> 
                                                <a href="" title="Supprimer" ng-show="isEditable(activite)" ng-click="delete(activite)"><i class="icon-trash"></i></a>
                                            </td>
                                        </tr> 
                                    </table> 
                                </div>
                              <!--<grid id="activiteAdminGrid" ng-options="gridOptions"></grid>-->
                        </tab>
                        <tab ng-if='!fullYear'>
                          <tab-heading>
                            Utilisateurs sans activité <span class="badge badge-important" ng-if="nbSansActivite && nbSansActivite > 0">{{nbSansActivite}}</span>
                          </tab-heading>
                            <div loading-container="loading"> 
                                    <table id="sansSctiviteAdminGrid" ng-table="tableParamsSansActivite" show-filter="false" class="table table-bordered table-hover"> 
                                        <tr ng-repeat="activite in sansActivites"> 
                                            <td sortable="etat"> 
                                                <span class="etatConges refConges">&nbsp;</span>
                                            </td> 
                                            <td data-title="'Mois'" sortable="mois"> 
                                                <div class="moisCell">{{activite.mois | moment:'MMMM YYYY'}}</div>
                                            </td> 
                                            <td data-title="'Matricule'" sortable="id"> 
                                                {{activite.id}}
                                            </td>
                                            <td data-title="'Nom'" sortable="nom"> 
                                                {{activite.nom}}
                                            </td>
                                            <td data-title="'Prenom'" sortable="prenom"> 
                                                {{activite.prenom}}
                                            </td>
                                            <td style="width:15px;"> 
                                                <a href="" title="Créer le CRA" ng-click="create(activite)"><i class="icon-pencil"></i></a>
                                            </td>
                                        </tr> 
                                    </table> 
                                </div>
                              <!--<grid id="sansSctiviteAdminGrid" ng-options="gridOptionsSans"></grid>-->
                        </tab>
                    </tabset>
                </div>
            </div><!--<div class="row-fluid">-->
        </div>
        <!--<div class="span6">-->
        <div class="span0">
            <!--Body content-->
            <div class="row">
                <div class="span12">
                    <script type="text/x-handlebars-template" id="showActiviteTmpl">
                        <div class="modal-header">
                        <h1>Activité de {{user.prenom}}</h1>
                        </div>
                        <div class="modal-body" id="popupCalConges">
                        <p> 
                        </p>
                        <div ui-if="eventSources" id="activiteCalendar" calendar="activiteCalendar" ui-calendar="uiConfig.calendar" config="uiConfig.calendar" ng-model="eventSources" >
                        </div>
                        <div class="modal-footer">
                            <div class="alert alert-block alert-error" ng-class="{masquer: !error}"><span>{{error}}</span></div>
                            <button class="btn btn-success" type="button" ng-if="currentActivite.etat <= 1" ng-disabled="saving" ng-click="save(eventSources[0])"><i class="icon-share icon-white"></i> Enregistrer l'activité</button>
                            <button ng-click="close()" class="btn" >Annuler</button>
                        </div>
                    </script>
                </div><!-- <div class="span12">-->
            </div><!-- <div class="row">-->
        </div>
        <!--<div class="row-fluid">-->
    </div>
</div>
<!--</div class="container-fluid">-->



<!--Template de la colonne d'action de la grille-->
<script type="text/x-handlebars-template" id="headerTmpl">
    <div class="ngHeaderSortColumn {{col.headerClass}}" ng-style="{cursor: col.cursor}" ng-class="{ ngSorted: !noSortVisible }">
        <div ng-click="col.sort($event)" ng-class="'colt' + col.index" class="ngHeaderText" data-toggle="tooltip" title="{{col.displayName}}">{{col.displayName}}</div>
        <div class="ngSortButtonDown" ng-show="col.showSortButtonDown()"></div>
        <div class="ngSortButtonUp" ng-show="col.showSortButtonUp()"></div>
        <div class="ngSortPriority">{{col.sortPriority}}</div>
    </div>
    <div ng-show="col.resizable" class="ngHeaderGrip" ng-click="col.gripClick($event)" ng-mousedown="col.gripOnMouseDown($event)"></div>
</script>

<script type="text/x-handlebars-template" id="moisTmpl">
    <div class="ngCellText moisCell">{{row.mois | moment:'MMMM YYYY'}}</div>
</script>
<script type="text/x-handlebars-template" id="matriculeTmpl">
    <div class="ngCellText matriculeCell" data-toggle="tooltip" title="{{row.user.nom}} {{row.user.prenom}}">{{row.user.nom}} {{row.user.prenom}}</div>
</script>
<script type="text/x-handlebars-template" id="motifTmpl">
    <div class="motif-autre" data-toggle="tooltip" title="{{row.user.nom}} {{row.user.prenom}}">{{row.motif}}</div>
</script>

<script type="text/x-handlebars-template" id="justificationTmpl">
    <div class="cellJustification" data-toggle="tooltip" title="{{row.justification}}">{{row.justification}}</div>
</script>
<script type="text/x-handlebars-template" id="validationTmpl">
    <a href="" title="Valider le CRA" ng-show="row.etat == 1" ng-click="valider(row)"><i class="icon-ok"></i></a>
</script>
<script type="text/x-handlebars-template" id="actionRowTmplEdit">
    <a href="" title="Visualiser" ng-show="isEditable(row)" ng-click="visualiser(row)"><i class="icon-eye-open"></i></a>
</script>
<script type="text/x-handlebars-template" id="actionRowTmplCreate">
    <a href="" title="Créer le CRA" ng-click="create(row)"><i class="icon-pencil"></i></a>
</script>
<script type="text/x-handlebars-template" id="actionRowTmplDel">
    <a href="" title="Supprimer" ng-show="isEditable(row)" ng-click="delete(row)"><i class="icon-trash"></i></a>
</script>

<script type="text/x-handlebars-template" id="eventTmpl">
  <div class="fc-event fc-event-hori fc-event-start fc-event-end admin jour {{data.type}} {{cssConges[data.etat]}}" ng-class="{true : 'sleeping', false : 'worked'}[data.type != 'JT1' && data.type != 'JT2' && data.type != 'JT3' && data.type != 'FOR' && data.type != 'INT']"  rel="popover" data-original-title="" title="">
       <div class="fc-event-inner">
           <span class="fc-event-title">
                {{data.type | motifCongesShort : typeActivite}} {{infos(data)}}
                <span ng-if="data.heuresSup + data.heuresAstreinte + data.heuresNuit > 0" class="heures"></span>
                <span ng-if="data.information && data.information != ''" class="rem"></span>
           </span>
       </div>
  </div>
</script>
<script type="text/x-handlebars-template" id="popoverEventTmpl">
  <h3 class="popover-title">Détails de la journée</h3>
  <accordion close-others="true">
    <accordion-group heading="Activité effectuée" is-open="true">
      <p>Choisisez l'activté effectuée cette journée :</p>
      <select id="inputType" name="inputType" required ng-model="data.type" ng-options="motif.id as motif.libelle for motif in typeActiviteJour | orderBy:-ordre">
      </select>
        <p>Durée :</p>
       <select id="inputDuree" name="inputDuree" required ng-model="data.duree">
           <option value="0">Toute la journée</option>
           <option ng-hide="data.duree == 2" value="1">Matinée</option>
           <option ng-hide="data.duree == 1" value="2">Après-midi</option>
      </select>
    </accordion-group>
      <accordion-group heading="Heures supl./nuit, astreintes, int." ng-if="data.type == 'JT1' || data.type == 'JT2' || data.type == 'JT3' || data.type == 'WK' || data.type == 'JF'">
          <p>Nombre d'heures suplémentaires</p>
          <input id="inputHeuresSup" type="number" name="inputHeuresSup" class="span3" min="0" max="8" ng-model="data.heuresSup"></input>
          <p>Nombre d'heures de nuit (entre 22h et 6h)</p>
          <input id="inputHeuresNuit" type="number" name="inputHeuresNuit" class="span3" min="0" max="8" ng-model="data.heuresNuit"></input>
          <p ng-if="hasHeuresAstreinte(data);">Nombre d'heures d'astreinte</p>
          <input ng-if="hasHeuresAstreinte(data);" id="inputheuresAstreinte" type="number" name="inputheuresAstreinte" class="span3" min="0" max="8" ng-model="data.heuresAstreinte"></input>
          <p>Nombre d'heures d'intervention</p>
          <input id="inputHeuresInt" type="number" name="inputHeuresInt" class="span3" min="0" max="8" ng-model="data.heuresInt"></input>
      </accordion-group>
      <accordion-group heading="Informations complémentaires" ng-if="data.type == 'JT1' || data.type == 'JT2' || data.type == 'JT3' || data.type == 'FOR' || data.type == 'INT' || data.type == 'WK' || data.type == 'JF'">
          <p>Remarques...</p>
          <textarea id="inputInfos" name="inputInfos" ng-model="data.information"></textarea>
      </accordion-group>
  </accordion>
  <div class="modal-footer">
      <button class="btn btn-primary" ng-click="valid(currentEvent);">Valider</button>
    <button class="btn" ng-click="cancel();">Annuler</button>
  </div>
</script>