<div class="background light"></div>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3" ng-controller="CongesGauges">
        <!--Sidebar content-->
        <div class="row-fluid">
            <div class="span12">
                <!--Sidebar content-->
                <gauge id="gCP" title="CP restants" label="jours" max="30" ng-model="cp"></gauge>
            </div>
            <div class="span12">
                <!--Sidebar content-->
                <gauge id="gRTT" title="RTT restants" label="jours" max="30" ng-model="rtt"></gauge>
            </div>
        </div>
    </div><!--<div class="span6">-->
      <div class="span9">
         <button type="button" class="btn btn-primary" ng-click="create();"><i class="icon-plus icon-white"></i> Faire une demande de congés</button>
    </div><!--<div class="span6">-->
    </div>
  </div><!--<div class="row-fluid">-->
</div><!--<div class="container-fluid">-->
<script>
    var g5 = new JustGage({
        id: "gCP",
        value: 0,
        min: 0,
        max: 25,
        title: "CP restant",
        label: "jours",
        levelColorsGradient: false,
        levelColors: ["#ff0000", "#f9c802", "#a9d70b"]
    });
</script>