<div class="background light"></div>
<div class="container-fluid" id="mainConges" ng-controller="CongesMain">
    <div class="row-fluid">
        <div class="span2" ng-controller="CongesGauges">
            <!--Sidebar content-->
            <div class="row-fluid">
                <div class="span12 well gaugesWidget">
                    <!--Sidebar content-->
                    <gauge id="gCP" title="CP restants" label="jours" max="25" ng-model="cp"></gauge>
                    <!--Sidebar content-->
                    <gauge id="gCPAcc" title="CP acquis" label="jours" max="25" ng-model="cp_ant"></gauge>
                </div>
            </div>
            <!--<div class="row-fluid">-->
            <div class="row-fluid">
                <div class="span12 well gaugesWidget">
                    <!--Sidebar content-->
                    <gauge id="gRTT" title="RTT restants" label="jours" max="20" ng-model="rtt"></gauge>
                </div>
            </div>
            <!--<div class="row-fluid">-->
        </div>
        <!--<div class="span6">-->
        <div class="span10 congesSide">
            <!--Body content-->
            <div class="row">
                <div class="span12">
                    <button type="button" class="btn btn-primary" ng-class="{masquer: edition > 0}" ng-click="create();"><i class="icon-plus icon-white"></i>Faire une demande de congés</button>
                    <div class="alert alert-block alert-info" ng-class="{masquer: edition != 1}">
                        <h4>{{lblMode}}</h4>
                    </div>
                    <div class="alert alert-block alert-warning" ng-class="{masquer: edition != 2}">
                        <h4>{{lblMode}}</h4>
                    </div>
                </div>
                <!-- <div class="span12">-->
            </div>
            <!-- <div class="row">-->
            <!--Row edit-->
            <div class="row">
                <div class="span12">
                    <!--Formulaire modification utilisateurs-->
                    <% include ../forms/conges.html %>
                    <!--Fin Formulaire modification utilisateurs-->
                </div>
                <!--<div class="span12">-->
            </div>
            <!--<div class="row">-->

            <div class="row">
                <div class="span12" ng-controller="CongesGrid">
                    <!--Grilles des congés-->
                        <tabs>
                            <pane heading="Tous mes congés à venir">
                            </pane>
                            <pane heading="Congés en attente de validation">
                            </pane>
                            <pane heading="Congés validés">
                            </pane>
                            <pane heading="Congés refusés">
                            </pane>
                        </tabs>
                        <grid id="congesGrid" ng-options="gridOptionsConges"></grid>
                    
                    <!--<div id="congesGrid" class="gridStyle" ng-grid="gridOptionsConges"></div>-->
                </div>
                <!-- <div class="span12">-->
            </div>
            <!-- <div class="row">-->
        </div>
        <!--<div class="span9">-->
    </div>
    <!--<div class="row-fluid">-->
</div>
<!--<div class="container-fluid">-->

<!--Template de la colonne d'action de la grille-->
<script type="text/x-handlebars-template" id="headerTmpl">
    <div class="ngHeaderSortColumn {{col.headerClass}}" ng-style="{cursor: col.cursor}" ng-class="{ ngSorted: !noSortVisible }">
        <div ng-click="col.sort($event)" ng-class="'colt' + col.index" class="ngHeaderText" data-toggle="tooltip" title="{{col.displayName}}">{{col.displayName}}</div>
        <div class="ngSortButtonDown" ng-show="col.showSortButtonDown()"></div>
        <div class="ngSortButtonUp" ng-show="col.showSortButtonUp()"></div>
        <div class="ngSortPriority">{{col.sortPriority}}</div>
    </div>
    <div ng-show="col.resizable" class="ngHeaderGrip" ng-click="col.gripClick($event)" ng-mousedown="col.gripOnMouseDown($event)"></div>
</script>
<script type="text/x-handlebars-template" id="actionRowTmpl">
    <div class="btn-group">
        <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown" type="button">
            <i class="icon icon-cog"></i><b class="caret"></b>
        </button>
        <ul class="actionEdit dropdown-menu">
            <li><a href="#" ng-click="edit(row)"><i class="icon-pencil"></i>Modifier</a></li>
            <li><a href="#" ng-click="delete(row)"><i class="icon-trash"></i>Supprimer</a></li>
        </ul>
    </div>
</script>
<script type="text/x-handlebars-template" id="actionRowTmplEdit">
    <a href="#" title="Modifier" ng-show="isEditable(row)" ng-click="edit(row)"><i class="icon-pencil"></i></a>
</script>
<script type="text/x-handlebars-template" id="actionRowTmplDel">
    <a href="#" title="Supprimer" ng-show="isEditable(row)" ng-click="delete(row)"><i class="icon-trash"></i></a>
</script>
