<script>var max = <%=max %>;</script>
<div class="background light"></div>
<div class="container-fluid" ng-controller="UsersMain">
    <div class="row-fluid">
        <div class="span7" ng-controller="UsersGrid">
            <!--Sidebar content-->
            <div class="control-group">
                <div class="controls inline">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="showInactif" id="inputshowInactif" name="inputshowInactif">
                        Afficher les utilisateurs inactifs
                    </label>
                </div>
            </div>
            <!--Grilles des utilisateurs-->
            <div loading-container="loading"> 
                <table ng-table="tableParamsUser" show-filter="false" class="table table-bordered table-hover"> 
                    <tr ng-repeat="user in $data"> 
                        <td data-title="'Actif'" sortable="isActif()">
                            <span class="etatConges" ng-class="{'accConges':user.isActif(), 'refConges': !user.isActif()}" title="{{user.isActif() ? 'Actif' : 'Désativé'}}">&nbsp;</span>
                        </td> 
                        <td data-title="'Matricule'" sortable="id"> 
                        {{user.id}} 
                        </td> 
                        <td data-title="'Nom'" sortable="nom"> 
                        {{user.nom}} 
                        </td> 
                        <td data-title="'Prénom'" sortable="prenom"> 
                        {{user.prenom}} 
                        </td> 
                        <td data-title="'Rôle'" sortable="role"> 
                        {{user.role | role}} 
                        </td>
                        <td data-title="'Admin'" sortable="admin.nom">
                        {{user.admin.nom}} {{user.admin.prenom}}
                        </td>
                        <td data-title="'CP disponibles'" sortable="cp"> 
                        {{user.cp}} 
                        </td>
                        <td data-title="'CP en cours'" sortable="cp_ant"> 
                        {{user.cp_ant}} 
                        </td>
                        <td data-title="'RTT'" sortable="rtt"> 
                        {{user.rtt}} 
                        </td>
                        <td data-title="'ENF'" sortable="enf">
                            {{user.enf}}
                        </td>
                        <td> 
                            <a href="" title="Modifier" ng-click="edit(user)"><i class="icon-pencil"></i></a>
                        </td>
                        <td> 
                            <a href="" title="Historique des actions" ng-click="histo(user)"><i class="icon-zoom-in"></i></a>
                        </td>
                        <td> 
                            <a href="" title="Supprimer" ng-click="delete(user)"><i class="icon-trash"></i></a>
                        </td>
                    </tr>
                    <tr class="info total">
                        <td>
                            Totaux
                        </td>
                        <td>
                            
                        </td>
                        <td>
                            
                        </td>
                        <td>
                            
                        </td>
                        <td>
                            
                        </td>
                        <td>
                            {{users_ | total:'cp' | toFixed:2}}
                        </td>
                        <td>
                            {{users_ | total:'cp_ant' | toFixed:2}}
                        </td>
                        <td>
                            {{users_ | total:'rtt' | toFixed:2}}
                        </td>
                        <td>
                            {{users_ | total:'enf' | toFixed:2}}
                        </td>
                        <td>
    
                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                    </tr>
                </table> 
                <a class="btn btn-primary" export-csv="csv" template="cvsTmpl" ng-mousedown="csv.generate()" ng-href="{{ csv.link() }}" download="utilisateurs.csv">Exporter en CSV</a>
            </div>

            <!--<grid id="usersGrid" ng-options="gridOptions"></grid>-->
            <!--<div id="usersGrid" class="gridStyle" ng-grid="gridOptions"></div>-->
        </div>
        <div class="span5">
            <!--Body content-->
            <div class="row">
                <div class="span12">
                    <!--Titre zone modification utilisateurs-->
                    <button type="button" class="btn btn-primary" ng-class="{true:'', false:'masquer'}[edition == 0]" ng-click="create();"><i class="icon_user-add"></i> Créer un utilisateur</button>
                    <div class="alert alert-block alert-info" ng-class="{masquer: edition != 1}">
                        <h4>{{lblMode}}</h4>
                    </div>
                    <div class="alert alert-block alert-warning" ng-class="{masquer: edition != 2}">
                        <h4>{{lblMode}} {{currentUser.nom}} {{currentUser.prenom}}</h4>
                    </div>
                    <!--Fin Titre zone modification utilisateurs-->
                </div>
                <!-- <div class="span12">-->
            </div>
            <!-- <div class="row">-->
            <!--Row edit-->
            <div class="row">
                <div class="span12">
                    <!--Formulaire modification utilisateurs-->
                    <% include ../forms/user.html %>
                    <!--Fin Formulaire modification utilisateurs-->
                </div>
                <!--<div class="span12">-->
            </div>
            <!--<div class="row">-->
            <!--Fin Row edit-->
        </div>
        <!--<div class="span6">-->
    </div>
    <!--<div class="row-fluid">-->
</div>
<!--<div class="container-fluid">-->
<script type="text/x-handlebars-template" id="cvsTmpl">
    <div>"Matricule";"Nom";"Prénom";"Rôle";"CP";"CP en cours";"RTT";"Enfant malade"</div>
    <div ng-repeat="user in users_">
        "{{user.id}}";"{{user.nom}}";"{{user.prenom}}";"{{user.role}}";"{{user.cp | toCSVFixed:1}}";"{{user.cp_ant | toCSVFixed:1}}";"{{user.rtt | toCSVFixed:1}}";"{{user.enf | toCSVFixed:1}}"
    </div>
</script>