<div class="background light"></div>
<div class="container-fluid" ng-controller="UsersMain">
  <div class="row-fluid">
    <div class="span6" ng-controller="UsersGrid">
        <!--Sidebar content-->
         <!--Grilles des utilisateurs--> 
        <div id="usersGrid" class="gridStyle" ng-grid="gridOptions"></div>
    </div>
    <div class="span6">
         <!--Body content--> 
         <div class="row">
            <div class="span12">
                <!--Titre zone modification utilisateurs--> 
                <button type="button" class="btn btn-primary" ng-class="{true:'', false:'masquer'}[edition == 0]" ng-click="create();"><i class="icon-plus icon-white"></i>Créer un utilisateur</button>
                <div class="alert alert-block alert-info" ng-class="{masquer: edition != 1}"><h4>{{lblMode}}</h4></div>
                <div class="alert alert-block alert-warning" ng-class="{masquer: edition != 2}"><h4>{{lblMode}} {{currentUser.nom}} {{currentUser.prenom}}</h4></div>
                <!--Fin Titre zone modification utilisateurs--> 
            </div><!-- <div class="span12">-->
        </div><!-- <div class="row">-->
        <!--Row edit--> 
        <div class="row">
            <div class="span12">
       <!--Formulaire modification utilisateurs--> 
        <form id="editUser" name="editUser" class="form-horizontal" novalidate ng-class="{masquer: edition == 0}">
            <!--Saisie matricule-->
           <div class="control-group" ng-class="{error: editUser.inputMatricule.$dirty && editUser.inputMatricule.$invalid, success:editUser.inputMatricule.$dirty && !editUser.inputMatricule.$invalid}">
            <label class="control-label" for="inputMatricule">Matricule</label>
            <div class="controls">
              <input type="number" min="1" step="1" id="inputMatricule" name="inputMatricule" ng-model="currentUser.id" required placeholder="Matricule">
              <div class="input-help">
                  <h4>Vous devez renseigner un numéro de matricule.</h4>
               </div>
            </div>
          </div>
          <!--Saisie nom-->
          <div class="control-group" ng-class="{error: editUser.inputNom.$dirty && editUser.inputNom.$invalid, success:editUser.inputNom.$dirty && !editUser.inputNom.$invalid}">
            <label class="control-label" for="inputNom">Nom</label>
            <div class="controls">
              <input type="text" id="inputNom" name="inputNom" ng-model="currentUser.nom" required placeholder="Nom">
              <div class="input-help">
                  <h4>Vous devez renseigner un nom.</h4>
               </div>
            </div>
          </div>
          <!--Saisie prénom-->
          <div class="control-group" ng-class="{error: editUser.inputPrenom.$dirty && editUser.inputPrenom.$invalid, success:editUser.inputPrenom.$dirty && !editUser.inputPrenom.$invalid}">
            <label class="control-label" for="inputPrenom">Prenom</label>
            <div class="controls">
              <input type="text" id="inputPrenom" name="inputPrenom" ng-model="currentUser.prenom" required placeholder="Prenom">
              <div class="input-help">
                  <h4>Vous devez renseigner un prénom.</h4>
               </div>
            </div>
          </div>
            <!--Saisie civilité-->
          <div class="control-group" ng-class="{error: editUser.inputCivilite.$dirty && editUser.inputCivilite.$invalid, success:editUser.inputCivilite.$dirty && !editUser.inputCivilite.$invalid}">
            <label class="control-label" for="inputCivilite">Civilité</label>
            <div class="controls">
                <select id="inputCivilite" name="inputCivilite" required ng-model="currentUser.civilite">
                          <option selected="selected" value="">Choisissez une civilité</option>
                          <option selected="selected" value="H">Homme</option>
                          <option value="F">Femme</option>
                </select>
                <div class="input-help">
                     <h4>Vous devez attribuer une civilité.</h4>
                </div>
            </div>
          </div>
          <!--Saisie date de naissance-->
          <div class="control-group" ng-class="{error: editUser.inputDateNaissance.$dirty && editUser.inputDateNaissance.$invalid, success:editUser.inputDateNaissance.$dirty && !editUser.inputDateNaissance.$invalid}">
            <label class="control-label" for="inputDateNaissance">Date de naissance</label>
            <div class="controls">
              <input type="datetime" ng-model="currentUser.dateNaissance" required id="inputDateNaissance" name="inputDateNaissance" ui-date="{ dateFormat: 'dd/mm/yy', changeYear: true, changeMonth: true, yearRange: '1950:2012' , maxDate: 0}" placeholder="29/11/1982">
              <div class="input-help">
                  <h4>Vous devez renseigner une date de naissance.</h4>
               </div>
            </div>
          </div>
          <!--Saisie email-->
          <div class="control-group" ng-class="{error: editUser.inputEmail.$dirty && editUser.inputEmail.$invalid, success:editUser.inputEmail.$dirty && !editUser.inputEmail.$invalid}">
            <label class="control-label" for="inputEmail">Email</label>
            <div class="controls">
              <input type="email" id="inputEmail" name="inputEmail" ng-model="currentUser.email" required placeholder="user@inside.com">
              <div class="input-help">
                  <h4>Vous devez renseigner un email.</h4>
               </div>
            </div>
          </div>
          <!--Saisie password-->
          <div class="control-group" ng-class="{error: editUser.password.$dirty && editUser.password.$invalid, success:editUser.password.$dirty && !editUser.password.$invalid}">
            <label class="control-label" for="password">Password</label>
            <div class="controls password">
              <input type="password" id="password" name="password" ng-model="currentUser.pwd" password-validate ng-required='edition == 1' placeholder="Password">
              <div class="input-help">
                  <h4>Le mot de passe doit avoir au minimum :</h4>
                  <ul>
                    <li ng-class="pwdHasLetter">Au moins <strong>une lettre</strong></li>
                    <li ng-class="pwdHasNumber">Au moins <strong>un nombre</strong></li>
                    <li ng-class="pwdValidLength">Au moins <strong>8 caractères</strong></li>
                  </ul>
               </div>
            </div>
          </div>
          <!--Saisie confirmation du password-->
          <div class="control-group" ng-class="{error: editUser.confirm_password.$dirty && editUser.confirm_password.$invalid, success:editUser.confirm_password.$dirty && !editUser.confirm_password.$invalid}">
            <label class="control-label" for="confirm_password">Retapez le password</label>
            <div class="controls">
              <input type="password" id="confirm_password" name="confirm_password" ng-model="currentUser.pwdtest" placeholder="Password" ng-required='edition == 1' ui-validate="{test:'$value==currentUser.pwd'}" ui-validate-watch=" 'currentUser.pwd' " />
              <div class="input-help">
                  <h4>Vous devez saisir le même mot de passe.</h4>
               </div>
            </div>
          </div>
          <!--Saisie rôle-->
            <div class="control-group" ng-class="{error: editUser.inputRole.$dirty && editUser.inputRole.$invalid, success:editUser.inputRole.$dirty && !editUser.inputRole.$invalid}">
                <label class="control-label" for="inputRole">Rôle</label>
                <div class="controls">
                      <select id="inputRole" name="inputRole" required ng-model="currentUser.role">
                          <option selected="selected" value="1">Consultant</option>
                          <option value="2">RH</option>
                      </select>
                      <div class="input-help">
                          <h4>Vous devez attribuer un rôle.</h4>
                       </div>
               </div>
            </div>
            <!--Saisie CP-->
            <div class="control-group" ng-class="{error: editUser.inputCp.$dirty && editUser.inputCp.$invalid, success:editUser.inputCp.$dirty && !editUser.inputCp.$invalid}">
                <label class="control-label" for="inputCp">Congés payés</label>
                <div class="controls">
                      <input type="number" min="0" max="50" id="inputCp" name="inputCp" ng-model="currentUser.cp" required placeholder="0">
               </div>
            </div>
            <!--Saisie RTT-->
            <div class="control-group" ng-class="{error: editUser.inputRtt.$dirty && editUser.inputRtt.$invalid, success:editUser.inputRtt.$dirty && !editUser.inputRtt.$invalid}">
                <label class="control-label" for="inputRtt">RTT</label>
                <div class="controls">
                      <input type="number" min="0" max="50" id="inputRtt" name="inputRtt" ng-model="currentUser.rtt" required placeholder="0">
               </div>
            </div>
            <!--Saisie envoi de mail-->
          <div class="control-group" ng-class="{masquer: edition != 1}">
            <div class="controls check">
              <label class="checkbox">
                <input type="checkbox" checked="checked"> Envoyer un email
              </label>
            </div>
          </div>
          <!--Zone d'action du formulaire-->
            <div class="form-actions">
              <div class="control-group">
                <span ng-class="{masquer: editUser.$valid}" class="label label-important">Tous les champs doivent être valides pour enregistrer.</span>
              </div>
              <div class="control-group" ng-class="{masquer: !error}">
                <span class="label label-important">{{error}}</span>
              </div>
              <button type="button" ng-disabled="editUser.$invalid  || isUnchanged(currentUser)" ng-click="save(currentUser);" class="btn btn-primary">Enregistrer</button>
              <button type="button" class="btn" ng-click="cancel();" >Annuler</button>
            </div>
        </form>
        <!--Fin Formulaire modification utilisateurs-->
                </div><!--<div class="span12">-->
        </div><!--<div class="row">-->
        <!--Fin Row edit--> 
    </div><!--<div class="span6">-->
  </div><!--<div class="row-fluid">-->
</div><!--<div class="container-fluid">-->
<!--Template de la colonne d'action de la grille-->
<script type="text/x-handlebars-template" id="actionRowTmpl">
    <div class="btn-group">
        <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown" type="button" >
            <i class="icon icon-cog"></i> <b class="caret"> </b>
        </button>
        <ul class="actionEdit dropdown-menu">
            <li><a href="#" ng-click="edit(row)"><i class="icon-pencil"></i> Modifier</a></li>
            <li><a href="#" ng-click="delete(row)"><i class="icon-trash"></i> Supprimer</a></li>
        </ul>
     </div>
</script>
<script type="text/x-handlebars-template" id="actionRowTmplEdit">
    <a href="#" title="Modifier" ng-click="edit(row)"><i class="icon-pencil"></i></a>
</script>
<script type="text/x-handlebars-template" id="actionRowTmplDel">
    <a href="#" title="Supprimer" ng-click="delete(row)"><i class="icon-trash"></i></a>
</script>

