<!DOCTYPE html>
<html>
    <head>
        <title>Votre compte viens d'être créé <%=prenom%> !</title>
    </head>
<body>
    <h2>Votre compte sur l'extranet d'InsideConsulting viens d'être créé <%=prenom%> !</h2>
    <p>
        Vous pouvez dès maintenant gérer vos demandes de congés et envoyer vos compte rendu d'activité directement <a href="<%=url%>">ici</a>.
    </p>
    <p>
        Pour vous connecter, utilisez les informations ci-dessous :
    </p>
    <p>
        Email : <strong><%=email%></strong>
    </p>
    <p>
        Mdp : <strong><%=password%></strong>
    </p>
</body>
</html>
