<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
    <header>
        <title>Votre compte viens d'être créé  {{prenom}} !</title>
    </header>
<body>
    <h2>Votre compte viens d'être créé {{prenom}}!</h2>
    <p>
        Vous pouvez dès maintenant gérer vos demandes de congés et envoyer vos compte rendu d'activité directement <a href="http://176.31.188.68:81/">ici</a>.
    </p>
    <p>
        Pour vous connecter, utilisez les informations ci-dessous :
    </p>
    <p>
        Email : <strong>{{email}}</strong>
    </p>
    <p>
        Mot de passe : <strong>{{password}}</strong>
    </p>
</body>
</html>
