<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Listes des congés à valider.</title>
</head>
<body>
    <h2>Listes des congés à valider au <%=date%>.</h2>
    <hr />
    <table>
        <thead>
            <tr>
                <th>Matricule</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>Motif</th>
            </tr>
        </thead>
        <tbody>
            <% _.each(conges, function( conge ){ %>
            <tr>
                <td><%=conge.id%></td>
                <td><%=conge.prenom%></td>
                <td><%=conge.nom%></td>
                <td><%=conge.debut%> <%=conge.debutType%></td>
                <td><%=conge.fin%> <%=conge.finType%></td>
                <td><%=conge.motif%></td>
            </tr>
            <% }); %>
        </tbody>
    </table>
</body>
</html>
