<!DOCTYPE html>
<html>
    <head>
        <title>Refus de votre congé...</title>
    </head>
<body>
    <h2>Votre demande de congés a été refusée.</h2>
    <p>
        Information sur la demande de congés :
    </p>
    <p>
        Consultant : <strong>{{prenom}} {{nom}}</strong>
    </p>
    <p>
        Du : <strong>{{debut}} {{debutType}}</strong>
    </p>
    <p>
        Au : <strong>{{fin}} {{finType}}</strong>
    </p>
    <p>
        Motif du congé : <strong>{{motif}}</strong>
    </p>
    <p>
        Pour plus d'information sur le refus, veuillez contacter votre responsable.
    </p>
</body>
</html>
