<!DOCTYPE html>
<html>
    <head>
        <title>Validation de ton activité <%=(mois == 'avril' || mois == 'aôut' || mois == 'octobre') ? "d'" : "de" %> <%=mois%> <%=annee%>.</title>
    </head>
<body>
    <h2>Validation de ton activité <%=(mois == 'avril' || mois == 'aôut' || mois == 'octobre') ? "d'" : "de " %><%=mois%> <%=annee%>.</h2>
    <p>
        Bonjour <%=prenom%>,
    </p>
    <p>
        Il est à présent temps de valider ton Rapport d’Activité du mois dans <a href="<%=url%>">SAMI</a> !!!
    </p>
    <p>
        Pour rappel, nous te remercions de bien vouloir valider ton Rapport d’Activité, avant le 20 de chaque mois ou bien avant de partir en congés.<br />
        Merci.
    </p>
</body>
</html>
