<!DOCTYPE html>
<html>
    <head>
        <title>Validation de votre absence !</title>
    </head>
<body>
    <h2>Votre demande d'absence a été validée.</h2>
    <p>
        Information sur la demande de congés :
    </p>
    <p>
        Consultant : <strong><%=prenom%> <%=nom%></strong>
    </p>
    <p>
        Du : <strong><%=debut%> <%=debutType%></strong>
    </p>
    <p>
        Au : <strong><%=fin%> <%=finType%></strong>
    </p>
    <p>
        Nature de l'absence : <strong><%=motif%></strong>
    </p>
    <p>
        Quantité : <strong><%=duree%></strong>
    </p>
</body>
</html>
