<!DOCTYPE html>
<html>
    <head>
        <title>Validation de votre congé !</title>
    </head>
<body>
    <h2>Votre demande de congés a été validée par {{owner}}.</h2>
    <p>
        Information sur la demande de congés :
    </p>
    <p>
        Consultant : <strong>{{prenom}} {{nom}}</strong>
    </p>
    <p>
        Du : <strong>{{debut}} {{debutType}}</strong>
    </p>
    <p>
        Au : <strong>{{fin}} {{finType}}</strong>
    </p>
    <p>
        Motif du congé : <strong>{{motif}}</strong>
    </p>
</body>
</html>
