<!DOCTYPE html>
<html manifest="inside.manifest" id="ng-app" ng-app="inside" class="start" xmlns:ng="http://angularjs.org">
<head>
  <meta charset="utf-8" />
  <title> Inside Consulting </title>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1" /> 
  
  <% if (prefix) { %>
  <link rel="stylesheet" type="text/css" href="../dist/css/libs.min.css?v=<%=version %>" />
  <link rel="stylesheet" type="text/css" media="print" href="../dist/css/libs.print.css?v=<%=version %>" />
  <% } else { %>
  <link rel="stylesheet" type="text/css" href="/libs/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/libs/angularjs/ng-grid.css" />
  <link rel="stylesheet" type="text/css" href="/libs/angularjs/ng-table.css" />
  <link rel="stylesheet" type="text/css" href="/libs/angularjs/angular-ui.min.css" />
  <link rel="stylesheet" type="text/css" href="/libs/jqueryui/jquery-ui-1.10.2.custom.min.css" />
  <link rel="stylesheet" type="text/css" href="/libs/select2/select2.css" />
  <link rel="stylesheet" type="text/css" href="/libs/angularjs/fullcalendar.css" />
  <!-- loadingbar -->
  <link rel="stylesheet" type="text/css" href="../libs/angularjs/loading-bar.min.css" />
  <!-- fullcalendar print -->
  <link rel="stylesheet" type="text/css" media="print" href="/libs/angularjs/fullcalendar.print.css" />
  <% } %>
  
    <!--[if lte IE 8]>
      <script>
        document.createElement('ng-include');
        document.createElement('ng-pluralize');
        document.createElement('ng-view');
        document.createElement('grid');
        document.createElement('rowgrid');
        document.createElement('tabs');
        document.createElement('pane');
        document.createElement('gauge');
 
        // Optionally these for CSS
        document.createElement('ng:include');
        document.createElement('ng:pluralize');
        document.createElement('ng:view');
      </script>
    <![endif]-->
</head>
<body ng-cloak class="{{idpage}}">