<% include header.html %>

<% if (prefix) { %>
<link rel="stylesheet" type="text/css" href="../dist/css/all.min.css?v=<%=version %>" />
<link rel="stylesheet" type="text/css" media="print" href="../dist/css/print.css?v=<%=version %>" />
<% } else { %>
<link rel="stylesheet" type="text/css"href="/css/main.css?v=<%=version %>" />
<link rel="stylesheet" type="text/css" href="/css/fontello.css" />
<link rel="stylesheet" type="text/css" media="print" href="/css/print.css?v=<%=version %>" />
<% } %>

<script>
    var config = {
        version: <%=version %>,
        connected : <%=connected %>,
        role : <%=role || 0%>,
        prenom : "<%=prenom || ''%>",
        infos: {
            nbMesCongesVal: <%=infos.nbMesCongesVal || 0 %>,
            nbCongesVal: <%=infos.nbCongesVal || 0 %>,
            nbActivitesVal: <%=infos.nbActivitesVal || 0 %>
        }
    }
</script> 

<div class="container-fluid" ng-controller="NavBar">
  <div class="row-fluid">
    <div class="span12">
        <div class="navbar">
          <a href="/"><img src="img/logo_inside.png" id="logo" /></a>
          <img src="img/logo_inside.png" id="logoPrint" />
          <div class="navbar-inner">
                <div class="container">
                  <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </a>
                  <a class="brand span3" href="#">{{page}}</a><div class="nav-collapse collapse navbar-responsive-collapse">
                    <ul class="nav">
                      <li authenticate ng-class="{active: page == pages.activite.name}"><a href="/activite"><i class="icon-tasks"></i> Mon activité</a></li>
                      <li authenticate ng-class="{active: page == pages.conges.name}"><a href="/conges"><i class="icon-globe"></i> Mes absences <span class="badge badge-important" ng-class="{masquer:infos.nbMesCongesVal == 0}">{{infos.nbMesCongesVal}}</span></a></li>
                      <li class="divider-vertical"></li>
                      <li authenticate="2" class="dropdown" ng-class="{active: page == pages.users.name || page == pages['admin-conges'].name || page == pages['admin-activite'].name}">
                        <a href="/" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-wrench"></i> Administration <span class="badge badge-important" ng-class="{masquer: infos.nbActivitesVal == 0 && infos.nbCongesVal == 0}">{{infos.nbActivitesVal + infos.nbCongesVal}}</span> <b class="caret"> </b></a>
                            <ul class="dropdown-menu">
                              <li authenticate="2" ng-class="{masquer: page == pages['admin-activite'].name}"><a href="/admin-activite"><i class="icon-folder-open"></i> Rapports d'activité <span class="badge badge-important" ng-class="{masquer: infos.nbActivitesVal == 0}">{{infos.nbActivitesVal}}</span></a></li>
                              <!--<li ng-class="{true:'masquer', false:''}[page == pages['admin-activite'].name]" class="divider"></li>-->
                              <li authenticate="2" ng-class="{masquer: page == pages['admin-conges'].name}"><a href="/admin-conges"><i class="icon-list"></i> Validation des absences <span class="badge badge-important" ng-class="{masquer:infos.nbCongesVal == 0}">{{infos.nbCongesVal}}</span></a></li>
                              <li authenticate="4" ng-class="{true:'masquer', false:''}[page == pages.users.name || page == pages['admin-conges'].name]" class="divider"></li>
                              <li authenticate="4" ng-class="{masquer: page == pages.users.name}"><a href="/users"><i class="icon_users-1"></i> Utilisateurs</a></li>
                            </ul>
                      </li>
                    </ul>
                    <ul class="nav pull-right">
                        <form class="navbar-search pull-left" ng-class="{masquer: !searcher}" action="">
                          <input id="search" name="search" type="text" class="search-query span15" ui-event="{keyup: 'search(search)'}" placeholder="Rechercher...">
                        </form>
                      <li class="divider-vertical"></li>
                      <li authenticate class="dropdown">
                        <a href="/" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user"></i> Bienvenue {{username}} <b class="caret"> </b></a>
                            <ul class="dropdown-menu">
                              <li ng-class="{true:'masquer', false:''}[page == pages.index.name]"><a href="/"><i class="icon-home"></i> Accueil</a></li>
                              <li ng-class="{true:'masquer', false:''}[page == pages.index.name]" class="divider"></li>
                              <li authenticate><a href="" ng-click="contact();"><i class="icon-envelope"></i> Une question ?</a></li>
                              <li class="divider"></li>
                              <li class="nav-header">Mon compte</li>
                              <li authenticate><a href="" ng-click="changePassword();"><i class="icon_key"></i> Modifier son password</a></li>
                              <li authenticate><a href="/logout"><i class="icon_logout"></i> Se déconnecter</a></li>
                            </ul>
                      </li>
                    </ul>
                  </div><!-- /.nav-collapse -->
                </div>
              </div>
        </div>
    </div>
  </div>
</div>

<div ng-view></div>

<% include scripts.html %>

<% if (prefix) { %><script>window.prefix = '<%=prefix %>';</script><% } %>

<% if (prefix) { %>
<script src="../dist/js/all.min.js?v=<%=version %>"></script>
<% } else { %>
<script src="../js/directives.js?v=<%=version %>"></script>
<script src="../js/filters.js?v=<%=version %>"></script>
<script src="../js/services.js?v=<%=version %>"></script>
<script src="../js/app.js?v=<%=version %>"></script>
<script src="../js/controllers.js?v=<%=version %>"></script>
<% } %>

<% include footer.html %>

