<% if (prefix) { %>
<script src="../libs/script.min.js?v=<%=version %>"></script>
<script src="../dist/js/libs.min.js?v=<%=version %>"></script>
<% } else { %>
<script src="../libs/script.min.js"></script>
<script src="../libs/jquery-1.9.1.min.js"></script>
<script src="../libs/jqueryui/jquery-ui-1.10.3.custom.min.js"></script>
<script src="../libs/jqueryui/i18n/jquery.ui.datepicker-fr.js"></script>
<script src="../libs/angularjs/angular.min.js"></script>
<!--<script src="../libs/angularjs/angular-route.min.js"></script>-->
<script src="../libs/angularjs/angular-resource.min.js"></script>
<!--<script src="../libs/angularjs/angular-animate.js"></script>-->
<script src="../libs/angularjs/ng-table.js"></script>
<!--<script src="../libs/angularjs/ng-grid.min.js"></script>-->
<!--<script src="../libs/angularjs/plugins/ng-grid-flexible-height.js"></script>-->
<!--<script src="../libs/angularjs/plugins/ng-grid-layout.js"></script>-->
<script src="../libs/angularjs/ui-bootstrap-tpls-0.5.0.js"></script>
<script src="../libs/bootstrap/js/bootstrap.min.js"></script>
<script src="../libs/angularjs/angular-ui.js"></script>
<script src="../libs/moment.min.js" ></script>
<script src="../libs/moment-fr.js" async ></script>
<script src="../libs/select2/select2.min.js"></script>
<script src="../libs/select2/select2_locale_fr.js"></script>
<script src="../libs/angularjs/fullcalendar.js"></script>
<script src="../libs/angularjs/fullcalendar.locale.fr.js"></script>
<script src="../libs/angularjs/calendar.js"></script>
<script src="../libs/raphael.2.1.0.min.js" async></script>
<script src="../libs/justgage.1.0.1.min.js" async></script>
<!-- loadingbar -->
<script src="../libs/angularjs/loading-bar.js"></script>
<% } %>


