[ng-cloak] {
      display: none;
}

html.start {
    visibility: hidden;
}
html.start .background {
    visibility:visible;
    text-align: center;
    font-size: 3em;
}
html.start .background > span{
       display: block;
}

.loader {
        background: transparent url('/img/loader.gif') center center no-repeat;
        height:80%;
        width: 100%;
        position: absolute;
        /*background-size:cover;*/
        opacity:0.5;
}

.spin {
    display: inline-block;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    -webkit-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
}

@-moz-keyframes spin {
  0% { -moz-transform: rotate(0deg); }
  100% { -moz-transform: rotate(359deg); }
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(359deg); }
}
@-o-keyframes spin {
  0% { -o-transform: rotate(0deg); }
  100% { -o-transform: rotate(359deg); }
}
@-ms-keyframes spin {
  0% { -ms-transform: rotate(0deg); }
  100% { -ms-transform: rotate(359deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(359deg); }
}

#logo {
    float: left; 
    height: 35px;
    margin: 4px 20px 0 5px;
}

#login .control-group {
    margin-bottom: 45px;
}
#login .control-group:nth-child(5) {
    margin-bottom: 15px;
}
#login .input-help {
    left: 242px;
}
.input-prepend {
    position:absolute;
    font-size: 14px;
}
.input-prepend * {
    
     white-space: normal;
}

.tab-pane 
{
	overflow:auto;
}

table
{
	font-size: 12px;
	text-overflow: ellipsis;
	max-width: inherit;
}
table th
{
	background-color: #e5e5e5;
    cursor: hand;
}
table th > i
{
	position: absolute;
    margin-top: -10px;
}

table td.cell {
        overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          vertical-align: middle;

    }
table td.cell > span,
table td.cell > div {
        overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
}
/* Colonne nom */
#usersGrid .cell:nth-child(2) > *{
      max-width: 90px;
}
/* Colonne prenom */ 
#usersGrid .cell:nth-child(3) > *{
      max-width: 100px;
}

.background {
        background: transparent url('/img/bg.jpg') center center no-repeat;
        height:80%;
        width: 100%;
        position: absolute;
        /*background-size:cover;*/
        opacity:0.8;
        z-index: -1;
}
.background > span{
       display: none;
}
.light {
    opacity:0.06;
}
.well {
    background-color: rgba(245,245,245,0.7);
}

.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 100%; 
    height: 85%;
}

.masquer {
    display: none;
}
.nav>li.masquer,
.nav>li>a.masquer {
    display: none;
}

.nav #search {
    line-height: 16px;
}

#login {
    width: 500px;
    left: 50%;
    position: absolute;
    margin-left: -270px;
}
/* Centrage du titre du formulaire de login*/
#login h3 {
    text-align:center;
}
/* Suppression écart icon input */
#login input {
    margin-left: -4px;
}
#login input[type='checkbox'] {
    margin-left: -20px;
}
/* Message d'erreur popup */
#pwd
{
	overflow: visible;
}

#pwd input,
#login input,
#editConges input,
#mainActivite input,
#activiteCalendar input,
#editUser input {
    height:inherit;
}
#pwd .controls,
#login .controls,
#editConges .controls,
#editUser .controls {
    position: absolute;
}
#login .controls.check,
#editConges .controls.check,
#editUser .controls.check {
    position: inherit;
}

/* Afficher DDL grid */
.ngCell.colt7,
.ngCell.colt8
{
	overflow: inherit;
	padding-left: 10px;
}

.ngCell.colt7 > a,
.ngCell.colt8 > a
{
    margin-top: 7px;
    margin-right: 4px;
    float: left;
}

#usersGrid .ngCell.colt8 {
    width: 25px;
}

ul.actionEdit
{
	min-width: 0;
}
select:focus + .input-help,
textarea:focus + .input-help,
input:focus + .input-help 
{
	z-index: 5000;
}

.input-help {
  display: none;
  position:absolute;
  z-index: 100;
  top: -6px;
  /*left: 160px;*/
  left: 216px;
  /*width:200px;*/
  width: 212px;
  /*padding:10px;*/
  padding: 8px;
  background:#fefefe;
  font-size:.875em;
  border-radius:5px;
  box-shadow:0 1px 3px #aaa;
  border:1px solid #ddd;
  opacity: 0.9;
}
select+.input-help {
  left: 230px;

}
.input-help::before {
  content: "\25C0";
  position: absolute;
  top:10px;
  left:-12px;
  font-size:16px;
  line-height:16px;
  color:#ddd;
  text-shadow:none;
}
.input-help h4 {
  margin:0;
  padding:0;
  font-weight: normal;
  font-size: 1.1em;
}
 
 /* Always hide the input help when it's pristine */
select.ng-invalid + .input-help,
input.ng-invalid + .input-help {
  display: block;
}
/* Always hide the input help when it's pristine */
select.ng-pristine + .input-help,
input.ng-pristine + .input-help {
  display: none;
}
 
/* Hide the invalid box while the input has focus */
.ng-invalid:focus + .input-help {
  /*display: none;*/
}

/* Civilité*/

#inputCivilite {
    width: 206px;
}

.gauge {
    width:200px; 
    height:160px;
}

#mainConges .congesSide>*,
#mainActivite .activiteContent > * {
	margin-left: -5px;
}

#mainConges .gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 100%; 
    height: 50%;
}

#mainConges .ngViewport {
    overflow-x: hidden;
}

#mainConges .col6 {
}
#mainConges .ngCell.col6,
#mainConges .ngCell.col7
{
	overflow: inherit;
	padding-left: 10px;
}
#mainConges .ngCell.col6 > a,
#mainConges .ngCell.col7 > a
{
    margin-top: 7px;
    margin-right: 4px;
    float: left;
}
.etatConges
{
	width: 20px;
	float: left;
	border: solid 1px #CCC;
	border-radius: 20px;
}
.valConges{
	background-color: Orange;
    background: -moz-linear-gradient(
		top,
		rgb(243, 211, 85) 0%,
		rgb(187, 114, 20));
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(rgb(243, 211, 85)),
		to(rgb(187, 114, 20)));
}
.accConges{
	background-color: Green;
    background: -moz-linear-gradient(
		top,
		#bcd6ab 0%,
		#475e3c);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#bcd6ab),
		to(#475e3c));
}
.refConges{
	background-color: Red;
    background: -moz-linear-gradient(
		top,
		#c40808 0%,
		#96274c);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#c40808),
		to(#96274c));
}

#mainConges .cell:nth-child(7) > *{
      max-width: 130px;
}

#mainConges .typeDate
{
	margin-left: 400px;
}
#adminConges .typeDate
{
	/*margin-left: 400px;*/
    margin-top: 40px;
    position: relative;
}
.typeDate .aprem
{
	width: 80px;
}


/* Message d'erreur popup */
#popupCalConges
{
	overflow: visible;
}
#popupCalConges.modal-body {
	max-height: inherit;
}

#popupCalConges .fc-content
{
	overflow: visible;
}

#adminConges .gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 100%; 
    height: 80%;
}

#adminConges .ngViewport {
    overflow-x: hidden;
}

#adminConges .tab-content {
        height: 85%;
        overflow-x: hidden;
}

/*#congesAdminGrid {
    height: 80%;
}*/
/* Message validation */
#adminConges .form-actions .label
{
	float: right;
}

/* textarea justification */
#adminConges .justification {
    width: 210px;
}

#adminConges .btn-group.val {
    margin: 2px 2px 2px 2px;
    text-align: center;
    width: 80px;
}
/* DDL choix utilisateur */
#adminConges .select2-container
{
	min-width: 207px;
}
/* DDL absence exceptionnel */
#adminConges .multiple {
    height: 62px;
}
#adminConges .multiple select.motifexp {
    margin-top: 2px;
}

/* Tooltip aide motif expectionnel */
.input-help.motifexp {
  left: 455px;
}

/* Tooltip aide motif expectionnel */
#adminConges .multiple .input-help.motifexp {
  left: 230px;
  top: 27px;
}

#adminConges .cell:nth-child(1) > *{
      max-width: 80px;
      width: 80px;
}

#adminConges .cell:nth-child(5) > *{
      max-width: 130px;
}

#adminConges .matriculeCell > * {
    width: 80px;
}

#adminConges .cellJustification
{
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100px;
}


#mainActivite ul.compteurs
{
	list-style: none;
	margin: 0;
}
#mainActivite ul.compteurs li
{
	margin-bottom: 5px;
}
#mainActivite ul.compteurs span.titre
{
	margin: 0;
	padding: 0;
}
#mainActivite ul.compteurs h4
{
	margin: 0;
}
/* Popover du calendier de l'activité */
.fc-view {
	overflow: visible;
}
/* Popover du calendrier : la flèche reste statique avec l'agrandissement de l'accordion */
.popover.in .arrow{
        top: 85px;
}

/* Event de base */
.jour {
    cursor: hand;
    height: 22px;
}

/* Event congé */
.jour.sleeping
{
    height: auto;
	background-color: rgb(138, 192, 79);
    background: -moz-linear-gradient( top, #bcd6ab 0%, #4f982c);
    background: -webkit-gradient( linear, left top, left bottom, from(#bcd6ab), to(#4f982c));
}
.jour.sleeping.valConges {
    background-color: Orange;
    background: -moz-linear-gradient(top, rgb(243, 211, 85) 0%,	rgb(187, 114, 20));
	background: -webkit-gradient(linear, left top, left bottom, from(rgb(243, 211, 85)),to(rgb(187, 114, 20)));
}

.jour.worked
{
    background-color: #3a87ad;
    background: -moz-linear-gradient( top, rgb(26, 141, 196) 0%, rgb(33, 100, 145));
    background: -webkit-gradient( linear, left top, left bottom, from(rgb(26, 141, 196)), to(rgb(33, 100, 145)));
	height: auto;
}

.jour.WK,
.jour.JF {
    background-color: rgb(189, 188, 182);
    background: -moz-linear-gradient( top, rgb(201, 204, 199) 0%, rgb(134, 138, 132));
    background: -webkit-gradient( linear, left top, left bottom, from(rgb(201, 204, 199)), to(rgb(134, 138, 132)));
}

.titre {
    display: block;
    /*float: left;*/
    padding: 10px 0px 0px 20px;
    margin-left: -20px;
    font-size: 17px;
    font-weight: 200;
    color: #777;
    text-shadow: 0 1px 0 #fff;
}

#adminActiviteChoix select {
    width: 70%;
}


#adminActivite .cell:nth-child(3) > * {
    max-width: 100px;
    width: 100px;
}

#adminActivite .cell.travail {
    background-color: #f3cea5;
}
#adminActivite tr:hover .cell.travail {
    background-color: #e1cdb6;
}
#adminActivite .cell.conges {
    background-color: #a5e2f3;
}
#adminActivite tr:hover .cell.conges {
    background-color: #9dd0de;
}
#adminActivite .cell.heures {
    background-color: #d1efa9;
}
#adminActivite tr:hover .cell.heures {
    background-color: #bce08d;
}

#popupCalConges.modal-body .jour > *:nth-child(1)
{
	line-height: 13px;
}