.background {
        background: transparent url('/img/bg.jpg') center center no-repeat;
        height:80%;
        width: 100%;
        position: absolute;
        /*background-size:cover;*/
        opacity:0.8;
        z-index: -1;
}
.light {
    opacity:0.2;
}
.well {
    background-color: rgba(245,245,245,0.7);
}

.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 100%; 
    height: 85%;
}

.masquer {
    display: none;
}
.nav>li.masquer,
.nav>li>a.masquer {
    display: none;
}

.nav #search {
    line-height: 16px;
}

#login {
    width: 500px;
    left: 50%;
    position: absolute;
    margin-left: -270px;
}
/* Centrage du titre du formulaire de login*/
#login h3 {
    text-align:center;
}

#login input,
#editConges input,
#editUser input {
    height:inherit;
}
#login .controls,
#editConges .controls,
#editUser .controls {
    position: absolute;
}
#login .controls.check,
#editConges .controls.check,
#editUser .controls.check {
    position: inherit;
}

/* Afficher DDL grid */
.ngCell.colt7,
.ngCell.colt8
{
	overflow: inherit;
	padding-left: 10px;
}

.ngCell.colt7 > a,
.ngCell.colt8 > a
{
    margin-top: 7px;
    margin-right: 4px;
    float: left;
}

#usersGrid .ngCell.colt8 {
    width: 25px;
}

ul.actionEdit
{
	min-width: 0;
}

.input-help {
  display: none;
  position:absolute;
  z-index: 100;
  top: -6px;
  /*left: 160px;*/
  left: 216px;
  /*width:200px;*/
  width: 212px;
  /*padding:10px;*/
  padding: 8px;
  background:#fefefe;
  font-size:.875em;
  border-radius:5px;
  box-shadow:0 1px 3px #aaa;
  border:1px solid #ddd;
  opacity: 0.9;
}
.input-help::before {
  content: "\25C0";
  position: absolute;
  top:10px;
  left:-12px;
  font-size:16px;
  line-height:16px;
  color:#ddd;
  text-shadow:none;
}
.input-help h4 {
  margin:0;
  padding:0;
  font-weight: normal;
  font-size: 1.1em;
}
 
 /* Always hide the input help when it's pristine */
select.ng-invalid + .input-help,
input.ng-invalid + .input-help {
  display: block;
}
/* Always hide the input help when it's pristine */
select.ng-pristine + .input-help,
input.ng-pristine + .input-help {
  display: none;
}
 
/* Hide the invalid box while the input has focus */
.ng-invalid:focus + .input-help {
  /*display: none;*/
}

/* Civilité*/

#inputCivilite {
    width: 206px;
}

.gauge {
    width:200px; 
    height:160px;
}

#mainConges .congesSide>*
{
	margin-left: -5px;
}

#mainConges .gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 100%; 
    height: 50%;
}

#mainConges .ngViewport {
    overflow-x: hidden;
}

#mainConges .col6 {
}
#mainConges .ngCell.col6,
#mainConges .ngCell.col7
{
	overflow: inherit;
	padding-left: 10px;
}
#mainConges .ngCell.col6 > a,
#mainConges .ngCell.col7 > a
{
    margin-top: 7px;
    margin-right: 4px;
    float: left;
}
.etatConges
{
	margin: 2px 0 0 5px;
	width: 25px;
	height: 25px;
	float: left;
	border: solid 1px #CCC;
	border-radius: 20px;
}
.valConges{
	background-color: Orange;
    background: -moz-linear-gradient(
		top,
		rgb(243, 211, 85) 0%,
		rgb(187, 114, 20));
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(rgb(243, 211, 85)),
		to(rgb(187, 114, 20)));
}
.accConges{
	background-color: Green;
    background: -moz-linear-gradient(
		top,
		#bcd6ab 0%,
		#475e3c);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#bcd6ab),
		to(#475e3c));
}
.refConges{
	background-color: Red;
    background: -moz-linear-gradient(
		top,
		#c40808 0%,
		#96274c);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#c40808),
		to(#96274c));
}

.typeDate
{
	margin-left: 400px;
}
.typeDate .aprem
{
	width: 80px;
}


#adminConges .gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 100%; 
    height: 80%;
}

#adminConges .ngViewport {
    overflow-x: hidden;
}

#adminConges .tab-content {
        height: 85%;
}

/*#congesAdminGrid {
    height: 80%;
}*/


#adminConges .justification {
    width: 270px;
}

#adminConges .btn-group.val {
    margin: 2px 2px 2px 2px;
}

#adminConges .select2-container
{
	min-width: 207px;
}