<div class="modal-header">
    <h1>Absences exceptionnelles</h1>
</div>
    <div class="modal-body" id="aide-conges">
    <p>Ci-dessous le nombre de jours accord&eacute;s annuellement en absence exceptionnelle. 
    </p>
        <table class="table table-bordered table-hover">
            <thead>
                <tr><th>Motif de l'absence</th><th>Nombre de jours disponibles annuellement</th></tr>
            </thead>
            <tbody>
                <tr><td>Naissance ou adoption</td><td>3 jours</td></tr>
                <tr><td>Paternit&eacute;</td><td>9 jours</td></tr>
                <tr><td>D&eacute;m&eacute;nagementn</td><td>1 jour</td></tr>
                <tr><td>Enfant malade</td><td>3 jours</td></tr>
                <tr><td>Mariage</td><td>4 jours</td></tr>
                <tr><td>Mariage enfant</td><td>1 jour</td></tr>
                <tr><td>D&eacute;c&egrave;s conjoint / enfant / ascendant</td><td>2 jours</td></tr>
                <tr><td>D&eacute;c&egrave;s 2&egrave;me degr&eacute; colat&eacute;raux (fr&egrave;re/soeur)</td><td>1 jour</td></tr>
                <tr><td>D&eacute;c&egrave;s beaux parents</td><td>1 jour</td></tr>
            </tbody>
        </table>
</div>
<div class="modal-footer">
     <button ng-click="close()" class="btn btn-primary">Fermer</button>
</div>