<div class="modal-header">
    <h1>R&eacute;cup&eacute;ration de compte</h1>
    </div>
    <div class="modal-body" id="pwd">
    <p>Renseigner votre email afin de l'on vous envois un code de validation. 
    </p>
    <form id="pwdLost" name="pwdLost" class="form-horizontal" ui-keypress="{'enter':'connect(user)'}" novalidate>
        <!--Saisie email-->
        <div class="control-group" ng-class="{error: pwdLost.email.$dirty && login.email.$invalid, success:pwdLost.email.$dirty && !pwdLost.email.$invalid}">
            <label class="control-label" for="email">Email</label>
            <div class="controls">
                  <input type="email" id="email" name="email" ng-disabled="password.etat == 1" ng-model="password.email" required placeholder="user@insideconsulting.fr" />
                  <div class="input-help">
                      <h4>Vous devez renseigner un email.</h4>
                   </div>
             </div>
          </div>
        <!--Saisie code de validation-->
        <div class="control-group" ng-class="{masquer: password.etat != 1, error: pwdLost.oldPassword.$dirty && pwdLost.oldPassword.$invalid, success:pwdLost.oldPassword.$dirty && !pwdLost.oldPassword.$invalid}">
            <label class="control-label" for="key">Code de validation</label>
            <div class="controls password">
                <input type="text" id="key" name="key" ng-model="password.key" ng-required="password.etat == 1" placeholder="Code de validation">
                <div class="input-help">
                    <h4>Vous devez renseigner le code de validation./h4>
                </div>
            </div>
        </div>
        <!--Saisie password-->
        <div class="control-group" ng-class="{masquer: password.etat != 1, error: pwdLost.passwordLost.$dirty && pwdLost.passwordLost.$invalid, success:pwdLost.passwordLost.$dirty && !pwdLost.passwordLost.$invalid}">
        <label class="control-label" for="passwordLost">Password</label>
        <div class="controls password">
            <input type="password" id="passwordLost" name="passwordLost" ng-model="password.pwd" ng-required="password.etat == 1" password-validate placeholder="Password">
            <div class="input-help">
                <h4>Le mot de passe doit avoir au minimum :</h4>
                <ul>
                    <li ng-class="pwdHasLetter">Au moins <strong>une lettre</strong></li>
                    <li ng-class="pwdHasNumber">Au moins <strong>un nombre</strong></li>
                    <li ng-class="pwdValidLength">Au moins <strong>8 caract&egrave;res</strong></li>
                </ul>
            </div>
        </div>
        </div>
        <!--Saisie confirmation du password-->
        <div class="control-group" ng-class="{masquer: password.etat != 1, error: pwdLost.confirm_password.$dirty && pwdLost.confirm_password.$invalid, success:pwdLost.confirm_password.$dirty && !pwdLost.confirm_password.$invalid}">
            <label class="control-label" for="confirm_password">Retapez le password</label>
            <div class="controls">
                <input type="password" id="confirm_password" name="confirm_password" ng-model="password.pwdtest" ng-required="password.etat == 1" placeholder="Password" ui-validate="{test:'$value==password.pwd'}" ui-validate-watch=" 'password.pwd' " />
                <div class="input-help">
                    <h4>Vous devez saisir le m&ecirc;me mot de passe.</h4>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <div class="alert alert-block alert-error" ng-class="{masquer: !error}"><span>{{error}}</span></div>
    <button ng-disabled="pwdLost.$invalid" ng-click="save(password)" class="btn btn-primary" >Modifier</button>
    <button ng-click="close()" class="btn" >Annuler</button>
</div>