<div class="modal-header">
    <h1>Modification du mot de passe</h1>
    </div>
    <div class="modal-body" id="pwd">
    <p>Renseigner votre ancien mot de passe ainsi que le nouveau afin de modifier votre mot de passe actuel. 
    </p>
    <form id="pwdUser" name="pwdUser" class="form-horizontal" novalidate>
        <!--Saisie ancien password-->
        <div class="control-group" ng-class="{error: pwdUser.oldPassword.$dirty && pwdUser.oldPassword.$invalid, success:pwdUser.oldPassword.$dirty && !pwdUser.oldPassword.$invalid}">
            <label class="control-label" for="password">Ancien password</label>
            <div class="controls password">
                <input type="password" id="oldPassword" name="oldPassword" ng-model="currentUser.oldPwd" password-validate required placeholder="Ancien mot de passe">
                <div class="input-help">
                    <h4>Vous devez renseigner l'ancien password</h4>
                </div>
            </div>
        </div>
        <!--Saisie password-->
        <div class="control-group" ng-class="{error: pwdUser.password.$dirty && pwdUser.password.$invalid, success:pwdUser.password.$dirty && !pwdUser.password.$invalid}">
            <label class="control-label" for="password">Nouveau mot de passe</label>
            <div class="controls password">
                <input type="password" id="password" name="password" ng-model="currentUser.pwd" password-validate required placeholder="Nouveau mot de passe">
                <div class="input-help">
                    <h4>Le mot de passe doit avoir au minimum :</h4>
                    <ul>
                        <li ng-class="pwdHasLetter">Au moins <strong>une lettre</strong></li>
                        <li ng-class="pwdHasNumber">Au moins <strong>un nombre</strong></li>
                        <li ng-class="pwdValidLength">Au moins <strong>8 caract&egrave;res</strong></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--Saisie confirmation du password-->
        <div class="control-group" ng-class="{error: pwdUser.confirm_password.$dirty && pwdUser.confirm_password.$invalid, success:pwdUser.confirm_password.$dirty && !pwdUser.confirm_password.$invalid}">
            <label class="control-label" for="confirm_password">Retapez le mot de passe</label>
            <div class="controls">
                <input type="password" id="confirm_password" name="confirm_password" ng-model="currentUser.pwdtest" placeholder="Nouveau mot de passe" required ui-validate="{test:'$value==currentUser.pwd'}" ui-validate-watch=" 'currentUser.pwd' " />
                <div class="input-help">
                    <h4>Vous devez saisir le m&ecirc;me mot de passe.</h4>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
     <div class="alert alert-block alert-error" ng-class="{masquer: !error}"><span>{{error}}</span></div>
     <button ng-disabled="pwdUser.$invalid || !enable" ng-click="save(currentUser)" class="btn btn-primary" >Modifier</button>
     <button ng-click="close()" class="btn" >Annuler</button>
</div>