<form id="editConges" name="editConges" class="form-horizontal" novalidate ng-class="{masquer: edition == 0}">
    <!--Saisie matricule-->
    <div class="control-group" ui-if="showMatricule">
        <label class="control-label" for="typeuser">Utilisateur</label>
        <div class="controls inline">
            <label class="radio inline" style="min-width: 50px;">
                <input type="radio" value="1"  ng-disabled="edition != 1" ng-model="currentConges.typeuser" id="typeuser" name="typeuser" checked="checked" />Un seul
            </label>
            <label class="radio inline">
                <input type="radio" value="2" ng-disabled="edition != 1" ng-model="currentConges.typeuser"  name="typeuser"  />Tous
            </label>
            </div>
        </div>
    <div class="control-group" ui-if="showMatricule" ng-class="{error: editConges.inputMatricule.$dirty && editConges.inputMatricule.$invalid, success:editConges.inputMatricule.$dirty && !editConges.inputMatricule.$invalid}">
        <label class="control-label" for="inputRole">&nbsp;</label>
        <div class="controls inline">
            <input type="text" ng-model="currentConges.user" ng-disabled="edition != 1 || currentConges.typeuser == '2'" ng-required="showMatricule && currentConges.typeuser == '1'" id="inputMatricule" name="inputMatricule" ui-select2="selectUserOptions" placeholder="">
            <div class="input-help">
                <h4>Vous devez renseigner un utilisateur.</h4>
            </div>
        </div>
    </div>
    <!--Saisie motif-->
    <div class="control-group" ng-class="{multiple: currentConges.motif == 'AE', error: editConges.inputMotif.$dirty && editConges.inputMotif.$invalid, success:editConges.inputMotif.$dirty && !editConges.inputMotif.$invalid}">
        <label class="control-label" for="inputRole">Motif</label>
        <div class="controls inline">
            <select id="inputMotif" name="inputMotif" required ng-model="currentConges.motif" ng-options="motif.id as motif.libelle for motif in motifsConges">
                <option value="">-</option>
            </select>
            <a title="Aide" class="icon-question-sign" href="" ng-click="showAide()"></a>
            <div class="input-help">
                <h4>Vous devez renseigner un motif de congés.</h4>
            </div>
           
        </div>
    </div>
    <!--Saisie date de début de congés-->
    <div class="control-group inline" ng-class="{error: editConges.inputDateDebut.$dirty && editConges.inputDateDebut.$invalid, success:editConges.inputDateDebut.$dirty && !editConges.inputDateDebut.$invalid}">
        <label class="control-label" for="inputDateDebut">Date de début</label>
        <div class="controls">
            <input type="datetime" ng-model="currentConges.debut.date" required id="inputDateDebut" name="inputDateDebut" ui-date="dateOptionsDebut" placeholder="{{placeholderDate}}">
            <div class="input-help">
                <h4>Vous devez renseigner une date de début de congés.</h4>
            </div>
        </div>
        <div ng-show="!editConges.inputDateDebut.$invalid" class="controls typeDate">
            <label class="radio inline">
                <input type="radio" ng-model="currentConges.debut.type" checked="checked" id="inputMatinDebut" name="inputTypeDebut" value="0" />Matin
               
            </label>
            <label class="radio inline aprem">
                <input type="radio" ng-model="currentConges.debut.type" required id="inputApremDebut" name="inputTypeDebut" value="1" />Après-midi
            </label>
        </div>
    </div>
    <!--Saisie date de fin de congés-->
    <div class="control-group" ng-class="{error: editConges.inputDateFin.$dirty && editConges.inputDateFin.$invalid, success:editConges.inputDateFin.$dirty && !editConges.inputDateFin.$invalid}">
        <label class="control-label" for="inputDateFin">Date de début</label>
        <div class="controls">
            <input type="datetime" ng-model="currentConges.fin.date" ng-disabled="editConges.inputDateDebut.$invalid" required id="inputDateFin" name="inputDateFin" ui-validate="{test:'$value >= currentConges.debut.date'}" ui-validate-watch=" 'currentConges.debut.date' " ui-date="dateOptionsFin" placeholder="{{placeholderDate}}">
            <div class="input-help">
                <h4>Vous devez renseigner une date de fin de congés supérieure ou égale à la date de début.</h4>
            </div>
        </div>
        <div ng-show="!editConges.inputDateFin.$invalid" class="controls typeDate">
            <label class="radio inline">
                <input type="radio" ng-model="currentConges.fin.type" required id="inputMidiFin" name="inputTypeFin" value="0" />Midi
               
            </label>
            <label class="radio inline aprem">
                <input type="radio" ng-model="currentConges.fin.type" checked="checked" required id="inputSoirFin" name="inputTypeFin" value="1" />Soir
             
            </label>
        </div>
    </div>
    <!--Saisie justification-->
    <div class="control-group" ng-class="{error: editConges.inputJustificatif.$dirty && editConges.inputJustificatif.$invalid, success:editConges.inputJustificatif.$dirty && !editConges.inputJustificatif.$invalid}">
        <label class="control-label" for="inputJustificatif">Justification (optionnel)</label>
        <div class="controls">
            <textarea type="text" id="Text1" name="inputJustification" rows="3" class="input-xxlarge justification" ng-model="currentConges.justification" placeholder="Justification"></textarea>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
        </div>
    </div>
    <!--Zone d'action du formulaire-->
    <div class="form-actions">
        <div class="control-group">
            <span ng-class="{masquer: editConges.$valid}" class="label label-important">Tous les champs doivent être valides pour enregistrer.</span>
        </div>
        <div class="control-group" ng-class="{masquer: !error}">
            <span class="label label-important">{{error}}</span>
        </div>
        <button type="button" ng-disabled="editConges.$invalid  || isUnchanged(currentConges)" ng-click="save(currentConges);" class="btn btn-primary">Envoyer</button>
        <button type="button" class="btn" ng-click="cancel();">Annuler</button>
    </div>
</form>
